.noto {
	font-family: $noto;
}

.oswald {
	font-family: $oswald;
}

.container {
	@include outer-container;
}

.row {
	@include clearfix;
}

button,
.button {
	background: $default-font-color;
	border: 0;
	border-radius: 4px;
	box-shadow: 0 0 5px rgba(#000, .5);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	font-weight: $bold;
	padding: .5em 1.5em;
	text-align: center;
	text-decoration: none;

	&:hover,
	&:active {
		text-decoration: none;
		background: darken($default-font-color, 5);
	}

	&.button-small {
		font-size: 14px;
		font-weight: $medium;
		padding: .2em 1.25em;

		@include media(min-width $s-screen) {
			font-size: 16px;
			padding-top: .1em;
			padding-bottom: .1em;
		}
	}

	&.button-large {
		font-size: 22px;
		font-weight: $bold;
		padding: .5em 1.75em;
	}

	&.button-yellow {
		background: $yellow;
		color: $blue;

		&:hover,
		&:active {
			background: darken($yellow, 3);
		}
	}

	&.button-blue {
		background: $blue;
		color: #fff;

		&:hover,
		&:active {
			background: darken($blue, 3);
		}
	}

	&.button-black {
		background: #000;
		color: #fff;

		&:hover,
		&:active {
			background: lighten(#000, 20);
		}
	}

	&.button-block {
		display: block;
	}
}

@mixin ul() {
	padding-left: 1em;

	> li {
		text-indent: -1em;

		&:before {
			content: "ãƒ»";
			font-family: $noto;
			font-weight: $black;
		}
	}
}

@mixin yin-yang-ornament($before-after, $yin-yang, $color) {

	&:#{$before-after} {

		@include media($s-screen) {
			content: url(../images/line-#{$yin-yang}-#{$color}.svg);
			@content;
		}
	}
}

@keyframes flash {
	33%, 100% {
		opacity: 1;
	}

	0%, 67% {
		opacity: 0;
	}
}
