$icon-bar: "\e900";
$icon-facebook-circle: "\e901";
$icon-twitter-circle: "\e902";
$icon-flag: "\e903";
$icon-location: "\e904";
$icon-10-o-clock: "\e905";
$icon-11-o-clock: "\e906";
$icon-12-o-clock: "\e907";
$icon-1-o-clock: "\e908";
$icon-2-o-clock: "\e909";
$icon-3-o-clock: "\e90a";
$icon-4-o-clock: "\e90b";
$icon-share: "\e90c";
$icon-angle-up: "\e90d";

@mixin dojoicon($icon: false, $position: 'before') {

	&:#{$position} {
		font-family: 'dojoicon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		@if $icon {
			@extend .icon-#{$icon}:before;
		}

		@content;
	}
}

@font-face {
	font-family: 'dojoicon';
	src: url('../fonts/dojoicon.eot?ry2rq6');
	src: url('../fonts/dojoicon.eot?ry2rq6#iefix') format('embedded-opentype'),
	     url('../fonts/dojoicon.ttf?ry2rq6') format('truetype'),
	     url('../fonts/dojoicon.woff?ry2rq6') format('woff'),
	     url('../fonts/dojoicon.svg?ry2rq6#dojoicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	@include dojoicon;
}

.icon-bar:before {
	content: $icon-bar;
}
.icon-facebook-circle:before {
	content: $icon-facebook-circle;
}
.icon-twitter-circle:before {
	content: $icon-twitter-circle;
}
.icon-flag:before {
	content: $icon-flag;
}
.icon-location:before {
	content: $icon-location;
}
.icon-10-o-clock:before {
	content: $icon-10-o-clock;
}
.icon-11-o-clock:before {
	content: $icon-11-o-clock;
}
.icon-12-o-clock:before {
	content: $icon-12-o-clock;
}
.icon-1-o-clock:before {
	content: $icon-1-o-clock;
}
.icon-2-o-clock:before {
	content: $icon-2-o-clock;
}
.icon-3-o-clock:before {
	content: $icon-3-o-clock;
}
.icon-4-o-clock:before {
	content: $icon-4-o-clock;
}
.icon-share:before {
	content: $icon-share;
}
.icon-angle-up:before {
	content: $icon-angle-up;
}
