.post {

	.menu {

		@include media($xl-screen) {
			background: $clouds;
		}

		.nav {

			> ul {

				@include media($xl-screen) {
					color: $default-font-color;
				}
			}
		}

		.entry {

			@include media($xl-screen) {
				display: block;
			}
		}
	}
}

.post-header {
	@include outer-container;
	margin-top: 30px;
	margin-bottom: 40px;
	padding: 0 20px;
	text-align: center;

	@include media($s-screen) {
		margin-top: 70px;
	}

	@include media($m-screen) {
		padding: 0;
	}

	@include media($xl-screen) {
		margin-top: 150px;
	}

	.page-title {
		color: $blue;
		display: inline-block;
		margin-bottom: 10px;
		position: relative;

		@include media($s-screen) {
			margin-bottom: 30px;
		}

		@include blockly-divider(begin, before) {
			@include position(absolute, 33px auto auto -5px);
			font-size: .5 * 81px;

			@include media($s-screen) {
				top: 36px;
			}
		}

		@include blockly-divider(end, after) {
			@include position(absolute, 33px -5px auto auto);
			font-size: .5 * 81px;

			@include media($s-screen) {
				top: 36px;
			}
		}

		.en {
			display: block;
			font-family: $oswald;
			font-size: 22px;
			// font-weight: bold;
			overflow: hidden;
			padding: 0 5px;
			position: relative;
			text-transform: uppercase;

			@include media($s-screen) {
				font-size: 24px;
			}

			@include blockly-divider(middle, before) {
				@include position(absolute, 33px auto auto (.5 * 81 - 5.5px));
				font-size: .5 * 81px;

				@include media($s-screen) {
					top: 36px;
				}
			}
		}
	}

	.post-title {
		font-size: 24px;
		font-weight: $regular;
		line-height: 1.5;
		margin: 1em 0;

		@include media($s-screen) {
			font-size: 30px;
			margin-top: 1.5em;
		}
	}

	.post-meta {
		font-size: 15px;
		font-weight: $light;
		margin: 1em 0;
	}

	.post-thumbnail {
		margin: 40px -20px;

		@include media($m-screen) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	*:first-child {
		margin-top: 0;
	}

	*:last-child {
		margin-bottom: 0;
	}
}


.post-content {
	@include outer-container;
	padding: 0 20px 100px;

	@include media($m-screen) {
		padding-left: 0;
		padding-right: 0;
	}

	h1 {
		border-bottom: 1px solid $clouds-dark;
		font-size: 24px;
		font-weight: $medium;
		line-height: 1.5;
		margin: 3em 0 $line-height-px;
		padding-bottom: .5em;

		@include media($s-screen) {
			font-size: 30px;
		}
	}

	h2 {
		border-bottom: 1px solid $clouds-dark;
		font-size: 22px;
		font-weight: $medium;
		line-height: 1.5;
		margin: 3em 0 $line-height-px;
		padding-bottom: .5em;

		@include media($s-screen) {
			font-size: 24px;
		}
	}

	h3 {
		font-size: 20px;
		font-weight: $medium;
		line-height: 1.5;
		margin: 3em 0 $line-height-px;
	}

	p {
		margin-bottom: 1.75em;
	}

	h1, h2, h3, h4, h5, h6, p {

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	h1, h2, h3, h4, h5, h6 {

		+ h1, + h2, + h3, + h4, + h5, + h6 {
			margin-top: 0;
		}
	}

	ol, ul {
		margin-bottom: 1.75em;
		padding-left: 1em;

		ol, ul {
			margin-bottom: 0;
		}
	}

	ol {
		list-style: decimal outside;
	}

	ul {
		list-style: square outside;
	}

	table {
		border-collapse: separate;
		border-spacing: 2px;
		margin-bottom: 1.75em;
		width: 100%;
	}

	th, td {
		padding: .5em 1em;
	}

	th {
		background: tint($blue, 30);
		color: $clouds;
		font-weight: normal;
	}

	td {
		background: $clouds;
	}
}
