.post-header {
	@include outer-container;
	margin-top: 30px;
	margin-bottom: $line-height-px;
	padding: 0 20px;
	text-align: center;

	.page-title {
		color: $blue;
		display: inline-block;
		margin-bottom: 20px;
		position: relative;

		@include blockly-divider(begin, before) {
			@include position(absolute, 33px auto auto -5px);
			font-size: .5 * 81px;

			@include media($s-screen) {
				top: 96px;
			}
		}

		@include blockly-divider(end, after) {
			@include position(absolute, 33px -5px auto auto);
			font-size: .5 * 81px;

			@include media($s-screen) {
				top: 96px;
			}
		}

		.en {
			display: block;
			font-family: $oswald;
			font-size: 22px;
			// font-weight: bold;
			overflow: hidden;
			padding: 0 5px;
			position: relative;
			text-transform: uppercase;

			@include blockly-divider(middle, before) {
				@include position(absolute, 33px auto auto (.5 * 81 - 5.5px));
				font-size: .5 * 81px;

				@include media($s-screen) {
					top: 96px;
				}
			}
		}
	}

	.post-title {
		font-size: 24px;
		font-weight: $medium;
		line-height: 1.5;
		margin: .5em 0;
	}

	.post-meta {
		font-size: 15px;
		font-weight: $light;
		margin: 1em 0;
	}

	.post-thumbnail {
		margin: $line-height-px -20px;
	}

	*:first-child {
		margin-top: 0;
	}

	*:last-child {
		margin-bottom: 0;
	}
}


.post-content {
	@include outer-container;
	padding: 0 20px;

	h2 {
		border-bottom: 1px solid $clouds-dark;
		font-size: 22px;
		font-weight: $medium;
		line-height: 1.5;
		padding-bottom: .5em;
		margin: 3em 0 $line-height-px;
	}

	h3 {
		font-size: 20px;
		font-weight: $medium;
		line-height: 1.5;
		margin: 3em 0 $line-height-px;
	}

	p {
		margin-bottom: 1.75em;
	}

	h1, h2, h3, h4, h5, h6, p {

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	ol, ul {
		margin-bottom: 1.75em;

		ol, ul {
			margin-bottom: 0;
			padding-left: 1em;
		}
	}

	ol {
		list-style: decimal inside;
	}

	ul {
		list-style: square inside;
	}

	table {
		margin-bottom: 1.75em;
	}
}
