@charset "UTF-8";
@import "variables";
@import "bourbon/bourbon";
@import "neat/neat";
@import "omega-reset";
@import "fonts";
@import "icons";
@import "blockly-divider";
@import "reset";
@import "components";

body {
	color: $default-font-color;
	font-family: $noto;
	line-height: $line-height;
}

a {
	color: inherit;
	text-decoration: none;
}

p {

	a {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

img {
	max-width: 100%;
}

strong {
	font-weight: $black;
}

.header {

	.menu-trigger {
		@include position(fixed, 30px 0 auto auto);
		background: #fff;
		border-radius: 0;
		// box-shadow: none;
		color: $default-font-color;
		font-size: 20px;
		line-height: 40px;
		height: 40px;
		padding: 0;
		width: 40px;
		z-index: 99;

		&:hover {
			background: #fff;
			color: $blue;
		}
	}

	.menu {
		@include position(fixed, 0 0 auto 0);
		-webkit-overflow-scrolling: touch;
		overflow-y: auto;
		transform: translateY(-300px);
		transition: all .25s linear;
		width: 100%;
		z-index: 9999;

		&.is-visible {
			transform: translateY(0);
		}

		.menu-close-outer {
			background: #fff;
			text-align: right;

			button {
				background: transparent;
				box-shadow: none;
				color: $default-font-color;
				font-weight: $thin;
				font-size: 16px;
				line-height: 18px;
				padding: 10px;

				@include media(min-width $s-screen) {
					padding: 20px;
				}

				&:hover {
					color: $blue;
				}
			}
		}

		.nav {

			> ul {
				@include clearfix;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: $medium;

				a {
					display: block;
					background: #fff;
					padding: 7px 1em;

					@include media(min-width $s-screen) {
						padding-top: 17px;
						padding-bottom: 17px;
					}

					&:hover {
						color: $blue;
					}
				}

				> li {
					border-top: 1px solid $default-font-color;
					float: left;
					text-align: center;
					width: percentage(1/2);

					@include media(min-width $s-screen) {
						width: percentage(1/3);
					}

					> a {
						border-left: 1px solid $default-font-color;
					}

					&:nth-child(odd) {

						> a {
							border-left-width: 0;

							@include media(min-width $s-screen) {
								border-left-width: 1px;
							}
						}
					}

					&:nth-child(3n+1) {

						@include media(min-width $s-screen) {
							clear: left;
						}

						> a {

							@include media(min-width $s-screen) {
								border-left-width: 0;
							}
						}
					}

					> ul {
						@include clearfix;
						display: none;
						left: -100%;
						position: relative;
						width: 200%;

						@include media(min-width $s-screen) {
							width: 300%;
						}

						> li {
							border-top: 1px solid $default-font-color;
							float: left;
							width: percentage(1/2);

							@include media(min-width $s-screen) {
								width: percentage(1/4);
							}

							a {
								background: rgba(#fff, .7);
								border-left: 1px solid $default-font-color;
							}

							&:nth-child(odd) {

								> a {
									border-left-width: 0;

									@include media(min-width $s-screen) {
										border-left-width: 1px;
									}
								}
							}

							&:nth-child(4n+1) {

								> a {

									@include media(min-width $s-screen) {
										border-left-width: 0;
									}
								}
							}
						}
					}
				}
			}
		}

		.action {
			background: #fff;
			border-top: 1px solid $default-font-color;
			padding: 10px 20px;
			text-align: center;

			.share {
				display: none;
			}

			.button {
				@extend .button-blue;
				box-shadow: none;
				font-size: 14px;
				padding-top: .5em;
				padding-bottom: .5em;

				&:before {
					margin-right: .3em;

					@include media(min-width $s-screen) {
						font-size: 20px;
						vertical-align: -2px;
					}
				}
			}
		}
	}

	.menu-screen {
		@include position(fixed, 0);
		background: black;
		opacity: 0;
		transition: all .2s ease-in-out;
		visibility: hidden;
		z-index: 9998;

		&.is-visible {
			opacity: .4;
			visibility: visible;
		}
	}
}

.hero {
	background: url("//placehold.it/1920x1280/eee.png") no-repeat center center;
	background-size: cover;

	.hero-main {
		background: rgba($blue, .85);
		padding: 30px 15px 15px;
	}

	.logo {
		margin: 0 auto 20px;
		width: 140px;
	}

	.line-taiji {
		margin: 20px auto;
		width: 160px;
	}

	.subtitle {
		margin: 20px auto 10px;
		width: 230px;
	}

	.action {
		text-align: center;

		> li {
			display: inline-block;
			line-height: 1;
			margin: 6px 5px;

			&.share {
				color: #fff;
				font-size: 24px;

				a {
					opacity: .7;

					&:hover {
						opacity: 1;
					}
				}
			}

			&.entry {
				display: block;

				.icon-flag:before {
					font-size: 24px;
					margin-right: .3em;
					vertical-align: -3px;
				}
			}
		}
	}

	.date-venue {
		background: rgba(#fff, .8);
		color: $blue;
		padding: 15px 0;
		text-align: center;

		@include media(min-width $s-screen) {
			padding-top: 35px;
			padding-bottom: 35px;
		}

		.date {

			@include media(min-width $s-screen) {
				display: inline-block;
				vertical-align: middle;
			}

			time {
				font-family: $oswald;
				font-size: 30px;
				line-height: 1;

				@include media(min-width $s-screen) {
					font-size: 54px;
				}
			}

			.day {
				display: inline-block;
				font-size: 9px;
				font-weight: $black;

				@include media(min-width $s-screen) {
					font-size: 16px;
					margin-left: 3px;
				}

				> .vertical {
					display: block;
					text-align: center;
					line-height: 1.07;
				}
			}
		}

		.caption {
			display: none;

			@include media(min-width $s-screen) {
				border: 1px solid $blue;
				display: inline-block;
				font-size: 19px;
				font-weight: $light;
				margin-left: 20px;
				padding: 0 1em .1em;
				position: relative;
				text-align: center;
				vertical-align: middle;
				width: 290px;

				&:before {
					@include position(absolute, 100% auto auto 50%);
					@include size(0);
					border: 10px solid rgba(#fff, 0);
					border-top-color: $blue;
					content: "";
					margin-left: -10px;
				}

				&:after {
					@include position(absolute, 100% auto auto 50%);
					@include size(0);
					border: 9px solid rgba(#fff, 0);
					border-top-color: #fff;
					content: "";
					margin-left: -9px;
				}
			}
		}

		.venue {
			font-size: 14px;

			@include media(min-width $s-screen) {
				font-size: 22px;
				font-weight: $light;
			}

			&:before {
				font-size: 18px;
				margin-right: .1em;

				@include media(min-width $s-screen) {
					font-size: 30px;
					vertical-align: -5px;
				}
			}
		}
	}
}

[class$="-section"],
[class*="-section "]{
	font-size: 14px;
	font-weight: $medium;
	padding: 60px 20px;

	@include media(min-width $s-screen) {
		font-size: 16px;
		padding: 80px 40px;
	}

	.section-title {
		@include outer-container;
		font-size: 46px;
		line-height: 1.5;
		margin-bottom: 40px;
		text-align: center;

		@include media(min-width $s-screen) {
			font-size: 72px;
		}

		.section-title-inner {
			display: inline-block;
			position: relative;

			@include blockly-divider(begin, before) {
				@include position(absolute, 28px auto auto -10px);
				font-size: 81px;

				@include media(min-width $s-screen) {
					top: 67px;
				}
			}

			@include blockly-divider(end, after) {
				@include position(absolute, 28px -10px auto auto);
				font-size: 81px;

				@include media(min-width $s-screen) {
					top: 67px;
				}
			}
		}

		.en {
			display: block;
			font-family: $oswald;
			font-weight: bold;
			overflow: hidden;
			padding: 0 10px;
			position: relative;
			text-transform: uppercase;

			@include blockly-divider(middle, before) {
				@include position(absolute, 28px auto auto 71px);
				font-size: 81px;

				@include media(min-width $s-screen) {
					top: 67px;
				}
			}

			@include blockly-divider(middle, after) {
				@include position(absolute, 28px auto auto 151px);
				font-size: 81px;
				transform: scale(10, 1);
				transform-origin: 0;

				@include media(min-width $s-screen) {
					top: 67px;
				}
			}
		}

		.ja,
		.copy {
			display: block;
			font-size: 21px;
			font-weight: $thin;
			margin-top: 20px;
			padding: 0 10px;

			@include media(min-width $s-screen) {
				font-size: 30px;
				margin-top: 30px;
			}
		}
	}
}

.about-section {
	background: $yellow;

	.section-title {

		@include media(min-width $s-screen) {
			@include span-columns(4.5);
			text-align: left;
		}
	}

	.about-section-inner {

		@include media(min-width $s-screen) {
			background: #fff;
			margin-left: -40px;
			margin-right: -40px;
			padding: 40px;
		}
	}

	h2 {
		font-size: 18px;
		font-weight: $bold;
		margin-top: 2em;
		margin-bottom: .5em;

		@include media(min-width $s-screen) {
			font-size: 24px;
		}
	}

	.what-is-coderdojo {
		@include outer-container;
		margin-bottom: 42px;

		@include media(min-width $s-screen) {
			@include span-columns(7.25);
			@include shift(.25);
		}

		h2 {

			@include media(min-width $s-screen) {
				margin-top: 0;
			}
		}

		.coderdojo-logo {
			margin: 2.5em 0;
			text-align: center;

			img {
				width: 170px;

				@include media(min-width $s-screen) {
					width: 185px;
				}
			}
		}
	}

	.what-is-dojocon {
		@include outer-container;

		figure {
			text-align: center;

			@include media(min-width $s-screen) {
				float: right;
				margin-top: 55px;
				margin-right: -40px;
				margin-left: 40px;
				width: 280px;
			}

			@include media(min-width $s-screen) {
				width: 320px;
			}

			@include media(min-width $l-screen) {
				margin-right: -170px;
				width: 460px;
			}
		}

		.text {

			@include media(min-width $s-screen) {
				overflow: hidden;
			}
		}

		h2 {

			@include media(min-width $s-screen) {
				margin-top: 0;
			}
		}
	}

	.first-dojocon-japan {
		@include outer-container;

		@include media(min-width $s-screen) {
			@include span-columns(7.25);
			@include shift(4.75);
		}

		ul {
			@include ul;
		}
	}

	.event-info {
		@include outer-container;

		@include media(min-width $s-screen) {
			text-align: center;
		}

		.entry-button-outer {
			margin: 2em 0;
			text-align: center;

			.button {
				margin-bottom: .5em;

				&:before {
					font-size: 30px;
					margin-right: .3em;
					vertical-align: -3px;
				}
			}
		}
	}

	.arduino-robot {

		figure {
			text-align: center;
		}
	}
}

.news-section {
	color: $blue;

	.posts-outer {
		height: 500px;
		margin: auto;
		max-width: 1000px;
		overflow: auto;

		.posts {
			@include outer-container;

			> li {
				@include span-columns(6);
				@include omega(2n);
				margin-bottom: 1em;

				@include media(min-width $s-screen) {
					@include span-columns(4);
					@include omega-reset(2n);
					@include omega(3n);
				}

				a {
					color: inherit;
				}

				.post-thumbnail {
					margin-bottom: .5em;
				}

				.post-date {
					font-weight: $thin;
				}

				.post-title {
					font-weight: $medium;
				}
			}
		}
	}
}

.access-section {
	background: $yellow;
	font-weight: $light;
	padding-bottom: 0;
	text-align: center;

	h2 {
		font-weight: $bold;
		margin-top: 1.75em;
	}

	.venue-images {
		@include clearfix;
		color: #fff;
		font-size: 12px;
		font-weight: $regular;
		margin: .75em -20px 3em;
		text-transform: uppercase;

		@include media(min-width $s-screen) {
			margin: 1.5em -40px 3em;
			font-size: 16px;
		}

		.workshop-area,
		.session-area {
			background-position: center;
			background-size: cover;
			height: 135px;
			position: relative;

			@include media(min-width $s-screen) {
				float: left;
				height: 150px;
				width: 50%;
			}

			p {
				position: absolute;
				width: 100%;
			}
		}

		.workshop-area {
			background-image: url("//placehold.it/700x280/ecacba");

			p {
				bottom: .5 * $line-height * 1em;

				@include media(min-width $s-screen) {
					bottom: (1 - .5 * ($line-height - 1)) * 1em;
					padding-right: 1em;
					text-align: right;

				}
			}
		}

		.session-area{
			background-image: url("//placehold.it/700x280/778ec3/fff");

			p {
				top: .5 * $line-height * 1em;

				@include media(min-width $s-screen) {
					bottom: (1 - .5 * ($line-height - 1)) * 1em;
					padding-left: 1em;
					text-align-last: left;
					top: auto;
				}
			}
		}
	}

	.map-outer {
		margin: 0 -20px;

		@include media(min-width $s-screen) {
			margin-left: -40px;
			margin-right: -40px;
		}

		h2 {
			background: $default-font-color;
			color: $yellow;
			font-size: 16px;
			font-weight: $medium;
			padding: 16px 20px;
			text-transform: uppercase;

			@include media(min-width $s-screen) {
				font-size: 18px;
				margin-top: 3em;
				padding: 24px 40px;
			}
		}

		.map {
			background: url("//placehold.it/600x400/e9e8dc") no-repeat center;
			background-size: cover;
			height: 200px;
		}
	}
}

.speaker-section {
	background: $blue;
	color: #fff;

	.section-title {

		@include media(min-width $s-screen) {
			text-align-last: left;
		}
	}

	.speakers {
		@include outer-container;

		> li {
			@include span-columns(6);
			@include omega(2n);
			margin-bottom: 40px;
			text-align: center;

			@include media(min-width $s-screen) {
				@include span-columns(4);
				@include omega-reset(2n);
				@include omega(3n);
				margin-bottom: 45px;
			}

			.speaker-avator {
				@include size(105px);
				border-radius: 105px;
				margin: 0 auto .5em;
				overflow: hidden;

				@include media(min-width $s-screen) {
					@include size(150px);
					border-radius: 105px;
					margin-bottom: 1em;
				}

				@include media(min-width $m-screen) {
					@include size(200px);
					border-radius: 200px;
				}
			}

			.speaker-name {
				font-size: 16px;

				@include media(min-width $s-screen) {
					font-size: 19px;
					font-weight: $medium;
				}
			}

			.speaker-description {
				font-weight: $thin;
				margin-bottom: 1em;

				@include media(min-width $s-screen) {
					font-size: 18px;
				}
			}

			.button {
				box-shadow: none;
				text-transform: uppercase;
				width: 100px;
			}
		}
	}
}

.sponsor-section {

	h2 {
		@include outer-container;
		border: 1px solid $default-font-color;
		font-size: 18px;
		font-weight: $demilight;
		line-height: 1.5;
		margin-top: 15px;
		margin-bottom: 15px;
		text-align: center;

		@include media(min-width $s-screen) {
			margin-top: 20px;
			margin-bottom: 20px;
		}

		@include media(min-width $m-screen) {
			font-size: 20px;
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}

	.sponsors {
		text-align: center;
	}

	.gold-sponsors {

		.sponsors {
			@include outer-container;

			> li {

				@include media(min-width $s-screen) {
					float: left;
					width: percentage(1/3);
				}
			}
		}
	}

	.silver-sponsors {

		.sponsors {
			@include outer-container;

			> li {
				float: left;
				width: percentage(1/2);

				@include media(min-width $s-screen) {
					width: percentage(1/4);
				}
			}
		}
	}

	.bronze-sponsors {

		.sponsors {
			@include outer-container;

			> li {
				float: left;
				width: percentage(1/3);

				@include media(min-width $s-screen) {
					width: percentage(1/6);
				}
			}
		}
	}

	.become-a-sponsor {
		box-shadow: none;
		font-size: 18px;
		font-weight: $medium;
		margin-top: 45px;
		padding-top: .75em;
		padding-bottom: .75em;

		@include media(min-width $s-screen) {
			font-size: 22px;
			margin-left: auto;
			margin-right: auto;
			padding-top: .5em;
			padding-bottom: .5em;
			width: 340px;
		}
	}
}

.timetable-section {
	$clock-width-xs: 55px;
	$clock-width-s: 95px;

	background: $yellow;
	color: $blue;

	a {
		color: inherit;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	.section-title {

		@include media(min-width $s-screen) {
			text-align-last: left;
		}
	}

	.timetable {
		@include clearfix;
		@include outer-container;

		@include media(min-width $s-screen) {
			padding-left: $clock-width-s;
		}

		.session-block,
		.workshop-block {
			@include outer-container;
			background: #f3f3f3;
			margin-bottom: 35px;

			@include media(min-width $s-screen) {
				float: left;
				width: percentage(1/2);
			}

			h2 {
				background: $blue;
				color: #fff;
				font-size: 28px;
				font-weight: $light;
				line-height: 40px;
				height: 80px;
				padding: 20px 10px 20px ($clock-width-xs + 10px);

				@include media(min-width $s-screen) {
					padding-left: 10px;
					text-align: center;
				}
			}
		}

		.session-block {

			.clock {

				@include media(min-width $s-screen) {
					margin-left: - $clock-width-s;
				}
			}
		}

		.workshop-block {

			.clock {

				@include media(min-width $s-screen) {
					border-left: 1px solid $blue;
					overflow: hidden;
					width: 0;
				}
			}
		}

		.clock {
			$icon-size: 22px;

			background: $blue;
			color: #fff;
			float: left;
			font-size: 14px;
			font-weight: $light;
			padding-top: 80 - ($icon-size / 2);
			text-align: center;

			> li {
				height: 12 * 30px;
				width: $clock-width-xs;

				@include media(min-width $s-screen) {
					width: $clock-width-s;
				}

				&:before {
					display: block;
					font-size: $icon-size;
					margin-bottom: 1px;

					@include media(min-width $s-screen) {
						display: inline-block;
						margin-right: 8px;
						vertical-align: middle;
					}
				}
			}
		}

		.session-line,
		.workshop-line {

			.sessions,
			.workshops {

				> li {
					padding: 3px 10px 0 ($clock-width-xs + 10px);

					@include media(min-width $s-screen) {
						padding-left: 10px;
					}

					.session-title,
					.workshop-title {
						font-size: 16px;
						font-weight: $bold;

						.speaker {
							font-weight: $light;
						}
					}

					.time {
						font-size: 14px;
						font-weight: $light;
					}

					.button {
						box-shadow: none;
						margin-top: .5em;
						text-decoration: none;
						width: 100px;
					}
				}

				.bg-light {
					background: #e3ecef;
				}

				.bg-dark {
					background: #d3e6eb;
				}

				@for $i from 1 through 24 {
					$interval: 5;

					.duration-#{$i * $interval}min {
						height: $i * 30px;
					}

					.break-#{$i * $interval}min {
						margin-bottom: $i * 30px;
					}
				}
			}
		}
	}

	.exhibition-block {
		@include outer-container;

		h2 {
			background: $blue;
			color: #fff;
			font-size: 28px;
			font-weight: $light;
			line-height: 40px;
			height: 80px;
			margin-bottom: 15px;
			padding: 20px 10px;
			text-align: center;

			@include media(min-width $m-screen) {
				margin-bottom: 20px;
			}
		}

		.exhibitions {

			> li {
				background: #fff;
				margin-bottom: 15px;

				@include media(min-width $s-screen) {
					@include span-columns(4);
					@include omega(3n);
				}

				@include media(min-width $m-screen) {
					margin-bottom: 20px;
				}

				figure {
					text-align: center;
				}

				.description {
					font-size: 14px;
					font-weight: $regular;
					padding: 1em 1.5em;
				}

				.exhibition-title {
					font-size: 15px;
					font-weight: $bold;
					margin-bottom: .5em;

					@include media(min-width $s-screen) {
						font-size: 16px;
					}

					small {
						font-size: 13px;
						font-weight: $light;

						@include media(min-width $s-screen) {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

.contact-section {
	color: $blue;

	.open-form {
		box-shadow: none;
		font-weight: $medium;

		@include media(min-width $s-screen) {
			font-size: 22px;
			margin-left: auto;
			margin-right: auto;
			padding-top: .5em;
			padding-bottom: .5em;
			width: 340px;
		}
	}
}

.staff-section {
	background: $yellow;

	.section-title {

		@include media(min-width $s-screen) {
			text-align-last: left;
		}
	}

	.members {
		@include outer-container;
		text-align: center;

		> li {
			@include span-columns(4);
			@include omega(3n);
			margin-bottom: 20px;

			@include media(min-width $s-screen) {
				@include span-columns(2);
				@include omega-reset(3n);
				@include omega(6n);
			}

			.member-avator {
				@include size(60px);
				border-radius: 60px;
				margin: 0 auto .5em;
				overflow: hidden;

				@include media(min-width $s-screen) {
					@include size(75px);
					border-radius: 75px;
				}

				@include media(min-width $m-screen) {
					@include size(100px);
					border-radius: 100px;
				}
			}

			.member-name {
				font-size: 16px;
				font-weight: $light;
			}
		}
	}
}

.sns-section {
	background: $blue url(../images/ninja.svg) no-repeat center bottom;
	background-size: 70px;
	color: #fff;
	padding-bottom: 70px;

	.fb-tw-widgets {
		@include outer-container;
		text-align: center;

		> li {
			margin-bottom: 20px;

			@include media(min-width $s-screen) {
				@include span-columns(6);
				@include omega(2n);
			}
		}
	}

	.sns-id {
		font-size: 24px;
		font-weight: $thin;
		margin-top: 40px;
		text-align: center;
	}

	.sns-links {
		line-height: 2;
		margin-top: 40px;
		margin-bottom: 50px;
		text-align: center;

		@include media(min-width $s-screen) {
			margin-top: 80px;
			margin-bottom: 80px;
		}

		&:before {
			border-right: 1px solid #fff;
			font-size: 50px;
			margin-right: 50px;
			padding-right: 50px;
			vertical-align: middle;
		}

		> li {
			display: inline-block;

			+ li {
				margin-left: 20px;
			}

			a {

				&:before {
					font-size: 32px;
					vertical-align: middle;
				}

				&:hover {
					color: darken(#fff, 5);
				}
			}
		}
	}
}

.footer {

	.goto-pagetop {
		background: $yellow;
		color: $blue;
		display: block;
		font-family: $oswald;
		font-size: 16px;
		line-height: 1.2;
		padding: 13px 20px 20px;
		text-align: center;
		text-transform: uppercase;

		&:before {
			display: block;
			font-size: 22px;
		}

		&:hover {
			background: darken($yellow, 3);
		}
	}

	.copyright {
		text-align: center;
		font-size: 14px;
		font-weight: $light;
		padding: 30px 20px;
	}
}
