@charset "UTF-8";
@import "variables";
@import "bourbon/bourbon";
@import "neat/neat";
@import "omega-reset";
@import "fonts";
@import "reset";
@import "components";

body {
	color: $default-font-color;
	font-family: $noto;
	line-height: $line-height;
}

a {
	text-decoration: none;
}

p {

	a {
		color: inherit;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

img {
	max-width: 100%;
}

strong {
	font-weight: $black;
}

.header {

	.nav {
		display: none;
	}

	.action {
		display: none;
	}
}

.hero {
	background: url("//placehold.it/1920x1280/eee.png") no-repeat center center;
	background-size: cover;

	.hero-main {
		background: rgba($blue, .85);
		padding: 30px 15px 15px;
	}

	.logo {
		margin: 0 auto 20px;
		width: 140px;
	}

	.line-taiji {
		margin: 20px auto;
		width: 160px;
	}

	.subtitle {
		margin: 20px auto 10px;
		width: 230px;
	}

	.action {
		text-align: center;

		> li {
			display: inline-block;
			margin: 5px;

			&.entry {
				display: block;
			}
		}
	}

	.date-venue {
		background: rgba(#fff, .8);
		color: $blue;
		padding: 15px;
		text-align: center;

		.date {

			time {
				font-family: $oswald;
				font-size: 30px;
				line-height: 1;
			}

			.day {
				font-weight: $bold;
			}
		}

		.caption {
			display: none;
		}

		.venue {
			font-size: 14px;
		}
	}
}

[class$="-section"]{
	font-size: 14px;
	font-weight: $medium;
	padding: 60px 20px;

	.section-title {
		font-size: 46px;
		margin-bottom: $line-height-px * 1.5;
		text-align: center;

		.en {
			display: block;
			font-family: $oswald;
			font-weight: bold;
			text-transform: uppercase;
		}

		.ja {
			display: block;
			font-size: 21px;
			font-weight: $thin;
		}
	}
}

.about-section {
	background: $yellow;

	h2 {
		font-size: 18px;
		font-weight: $bold;
		margin-top: 42px;
		margin-bottom: 14px;
	}

	.what-is-coderdojo {
		margin-bottom: 42px;

		.coderdojo-logo {
			margin: 42px 0;
			text-align: center;

			img {
				width: 168px;
			}
		}
	}

	.first-dojocon-japan {

		ul {
			@include ul;
		}
	}

	.event-info {

		.entry-button-outer {
			margin: 28px 0;
			text-align: center;

			.button {
				margin-bottom: 7px;
			}
		}
	}
}

.news-section {
	color: $blue;

	.posts-outer {
		height: 500px;
		overflow: auto;

		.posts {
			@include outer-container;

			> li {
				@include span-columns(6);
				@include omega(2n);
				margin-bottom: 14px;

				a {
					color: inherit;
				}

				.post-thumbnail {
					margin-bottom: 7px;
				}

				.post-date {
					font-weight: $thin;
				}

				.post-title {
					font-weight: $medium;
				}
			}
		}
	}
}

.access-section {
	background: $yellow;
	font-weight: $light;
	padding-bottom: 0;
	text-align: center;

	h2 {
		font-weight: $bold;
		margin-top: $line-height * 14px;
	}

	.venue-images {
		color: #fff;
		font-size: 12px;
		font-weight: $regular;
		margin: ($line-height / 2 * 14px) -20px (1.5 * $line-height * 14px);
		text-transform: uppercase;

		.workshop-area,
		.session-area {
			background-size: cover;
			height: 135px;
			position: relative;

			p {
				position: absolute;
				width: 100%;
			}
		}

		.workshop-area {
			background-image: url("//placehold.it/700x280/ecacba");

			p {
				bottom: $line-height / 2 * 12px;
			}
		}

		.session-area{
			background-image: url("//placehold.it/700x280/778ec3/fff");

			p {
				top: $line-height / 2 * 12px;
			}
		}
	}

	.map-outer {
		margin: 0 -20px;

		h2 {
			background: $default-font-color;
			color: $yellow;
			font-size: 16px;
			font-weight: $medium;
			padding: 16px 20px;
			text-transform: uppercase;
		}

		.map {
			background-image: url("//placehold.it/600x400/e9e8dc");
			background-size: cover;
			height: 200px;
		}
	}
}

.speaker-section {
	background: $blue;
	color: #fff;

	.speakers {
		@include outer-container;

		> li {
			@include span-columns(6);
			@include omega(2n);
			margin-bottom: 40px;
			text-align: center;

			.speaker-avator {
				border-radius: 105px;
				height: 105px;
				margin: 0 auto ($line-height / 2 * 14px);
				overflow: hidden;
				width: 105px;
			}

			.speaker-name {
				font-size: 16px;
			}

			.speaker-description {
				font-weight: $thin;
				margin-bottom: $line-height / 2 * 14px;
			}

			.button {
				box-shadow: none;
				text-transform: uppercase;
				width: 100px;
			}
		}
	}
}

.sponsor-section {

	h2 {
		border: 1px solid $default-font-color;
		font-size: 18px;
		font-weight: $demilight;
		line-height: 1.5;
		margin: 15px 0;
		text-align: center;
	}

	.silver-sponsors {

		.sponsors {
			@include outer-container;

			> li {
				float: left;
				width: 50%;
				@include omega(2n);
			}
		}
	}

	.bronze-sponsors {

		.sponsors {
			@include outer-container;

			> li {
				float: left;
				width: 33.33%;
				@include omega(3n)
			}
		}
	}

	.become-a-sponsor {
		box-shadow: none;
		font-size: 18px;
		font-weight: $demilight;
		margin-top: 45px;
		padding-top: 0.75em;
		padding-bottom: 0.75em;
	}
}