---
layout: default
---

<div class="hero">
	<div class="hero-main">
		<h1 class="logo"><img src="//placehold.it/400x310/fff701/0a94b8.png?text=DojoCon+JAPAN+2016" alt="DojoCon JAPAN 2016"></h1>
		<div class="line-taiji"><img src="//placehold.it/425x425/fff701/fff.png?text=Line+Taiji" alt="CoderDojo ロゴモチーフアイコン"></div>
		<h2 class="subtitle"><img src="//placehold.it/400x100/fff701/0a94b8.png?text=THE+MORE+DOJOS,+THE+MORE+COOL+CORDERS." alt="THE MORE DOJOS, THE MORE COOL CORDERS."></h2>
		{% include action.html %}
	</div>
	<div class="date-venue">
		<p class="date"><time datetime="2016-08-27 10:30">08.27</time>
			<span class="day"><span class="vertical">S</span><span class="vertical">A</span><span class="vertical">T</span></span></p>
		<p class="caption">The 1st DojoCon in Japan</p>
		<p class="venue icon-location">内田洋行 大阪 ユビキタス協創広場 <span class="oswald">CANVAS</span></p>
	</div>
</div>

<div class="about-section">
	<div class="row">
		<h1 class="section-title">
			<span class="en">About</span>
			<span class="ja">DojoCon とは？</span>
		</h1>
		<div class="what-is-coderdojo">
			<h2>CoderDojo って？</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus accusamus architecto voluptas pariatur, odit quae, deleniti totam.<br />
				Dignissimos tenetur magnam culpa ad maiores, veniam possimus. Debitis animi modi quasi consequatur.</p>
			<p class="coderdojo-logo"><img src="//placehold.it/360x100/000/fff701.png?text=CoderDojo" alt="CoderDojo のロゴ"></p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et tempora quae maiores porro sed illo nobis pariatur eveniet necessitatibus dolorum. Excepturi illum quasi, voluptates odio! Fugit, laudantium ut magni hic!</p>
		</div>
	</div>
	<div class="row">
		<div class="what-is-dojocon">
			<figure><img src="//placehold.it/600x260.png" alt="DojoCon のイメージ写真"></figure>
			<h2>DojoCon とは？</h2>
			<p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem debitis provident rerum pariatur.</strong><br />
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est asperiores quidem officiis, harum nisi aperiam modi ut dolor doloribus fugiat, labore velit beatae rem laudantium praesentium deleniti sunt, voluptates eius.<br />
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum beatae dolores, sequi neque commodi officiis tempora eius dignissimos atque quisquam! Adipisci exercitationem, tenetur aut distinctio quis qui reiciendis impedit quibusdam.</p>
		</div>
	</div>
	<div class="row">
		<div class="first-dojocon-japan">
			<h2>初開催の DojoCon Japan</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta consequuntur, suscipit distinctio voluptas rerum eum.</p>
			<ul>
				<li><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong></li>
				<li><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam cumque dicta minima necessitatibus doloribus.</strong></li>
				<li><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong></li>
			</ul>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem distinctio ducimus nobis, adipisci quos recusandae, facilis neque voluptates hic natus autem eos dicta, expedita ea reprehenderit quae esse iusto.</p>
		</div>
		<div class="row">
			<div class="event-info">
				<h2>開催概要</h2>
				<p>開催日 : 2016年8月27日（土）<br />
					時間 : 10:00 - 16:10（予定）<br />
					場所 : <a href="{{ site.venueurl }}" target="_blank">内田洋行 大阪 ユビキタス協創広場 CANVAS</a><br />
					参加費 : 無料</p>
				<p class="entry-button-outer"><a href="{{ site.entryurl }}" class="button button-large button-black icon-flag" target="_blank">Entry</a><br>
					参加登録が必要です。</p>
			</div>
		</div>
	</div>
	<div class="arduino-robot">
		<figure><img src="//placehold.it/640x460.png" alt="アルドゥイーノロボット"></figure>
	</div>
</div>

<div class="news-section">
	<h1 class="section-title">
		<span class="en">News</span>
		<span class="ja">お知らせ</span>
	</h1>
	<div class="posts-outer">
		<ul class="posts">
			{% for post in site.posts %}
				<li>
					<a href="{{ post.url | prepend: site.baseurl }}">
						{% if post.thumbnail %}
							<figure class="post-thumbnail"><img src="{{ post.thumbnail | prepend: site.baseurl }}" alt="{{ post.title }}のサムネイル"></figure>
						{% else %}
							<figure class="post-thumbnail"><img src="//placehold.it/600x400.png?text=NOW+PRINTING" alt="ニュースサムネイル"></figure>
						{% endif %}
						<p class="post-date"><time datetime="{{ post.date }}">{{ post.date | date: '%Y.%m.%d' }}</time></p>
						<h2 class="post-title">{{ post.title }}</h2>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="access-section">
	<h1 class="section-title">
		<span class="en">Access</span>
		<span class="ja">会場アクセス</span>
	</h1>
	<h2>場所</h2>
	<p><a href="{{ site.venueurl }}" target="_blank">内田洋行 大阪 ユビキタス協創広場 CANVAS</a></p>
	<div class="venue-images">
		<div class="workshop-area"><p>Workshop Area</p></div>
		<div class="session-area"><p>Session Area</p></div>
	</div>
	<h2>所在地</h2>
	<p>大阪市中央区和泉町2-2-2</p>
	<h2>地下鉄をご利用の場合</h2>
	<p>地下鉄谷町線・中央線「谷町4丁目駅」8番出口より徒歩8分<br />
		※お車でのご来館はご遠慮ください</p>
	<div class="map-outer">
		<h2>Map</h2>
		<p class="map"></p>
	</div>
</div>

<div class="speaker-section">
	<h1 class="section-title">
		<span class="en">Speakers</span>
		<span class="ja">スピーカー</span>
	</h1>
	<ul class="speakers">
		<li>
			<figure class="speaker-avator">
				<img src="//placehold.it/210" alt="岡田裕行のプロフィール画像">
			</figure>
			<h2 class="speaker-name">岡田 裕行</h2>
			<p class="speaker-description">BlocklyDuino</p>
			<a href="" class="button button-small button-black">More</a>
		</li>
		<li>
			<figure class="speaker-avator">
				<img src="//placehold.it/210" alt="岡田裕行のプロフィール画像">
			</figure>
			<h2 class="speaker-name">岡田 裕行</h2>
			<p class="speaker-description">BlocklyDuino</p>
			<a href="" class="button button-small button-black">More</a>
		</li>
		<li>
			<figure class="speaker-avator">
				<img src="//placehold.it/210" alt="岡田裕行のプロフィール画像">
			</figure>
			<h2 class="speaker-name">岡田 裕行</h2>
			<p class="speaker-description">BlocklyDuino</p>
			<a href="" class="button button-small button-black">More</a>
		</li>
		<li>
			<figure class="speaker-avator">
				<img src="//placehold.it/210" alt="岡田裕行のプロフィール画像">
			</figure>
			<h2 class="speaker-name">岡田 裕行</h2>
			<p class="speaker-description">BlocklyDuino</p>
			<a href="" class="button button-small button-black">More</a>
		</li>
		<li>
			<figure class="speaker-avator">
				<img src="//placehold.it/210" alt="岡田裕行のプロフィール画像">
			</figure>
			<h2 class="speaker-name">岡田 裕行</h2>
			<p class="speaker-description">BlocklyDuino</p>
			<a href="" class="button button-small button-black">More</a>
		</li>
		<li>
			<figure class="speaker-avator">
				<img src="//placehold.it/210" alt="岡田裕行のプロフィール画像">
			</figure>
			<h2 class="speaker-name">岡田 裕行</h2>
			<p class="speaker-description">BlocklyDuino</p>
			<a href="" class="button button-small button-black">More</a>
		</li>
	</ul>
</div>

<div class="sponsor-section">
	<h1 class="section-title">
		<span class="en">Sponsors</span>
		<span class="ja">スポンサー一覧</span>
	</h1>
	<div class="gold-sponsors">
		<h2>Gold Sponsors</h2>
		<ul class="sponsors">
			<li><a href=""><img src="//placehold.it/600x600.png?text=SPONSOR+LOGO" alt="スポンサー"></a></li>
			<li><a href=""><img src="//placehold.it/600x600.png?text=SPONSOR+LOGO" alt="スポンサー"></a></li>
			<li><a href=""><img src="//placehold.it/600x600.png?text=SPONSOR+LOGO" alt="スポンサー"></a></li>
		</ul>
	</div>
	<div class="silver-sponsors">
		<h2>Silver Sponsors</h2>
		<ul class="sponsors">
			<li><a href=""><img src="//placehold.it/600x600.png?text=SPONSOR+LOGO" alt="スポンサー"></a></li>
			<li><a href=""><img src="//placehold.it/600x600.png?text=SPONSOR+LOGO" alt="スポンサー"></a></li>
			<li><a href=""><img src="//placehold.it/600x600.png?text=SPONSOR+LOGO" alt="スポンサー"></a></li>
			<li><a href=""><img src="//placehold.it/600x600.png?text=SPONSOR+LOGO" alt="スポンサー"></a></li>
		</ul>
	</div>
	<div class="bronze-sponsors">
		<h2>Bronze Sponsors</h2>
		<ul class="sponsors">
			<li><a href=""><img src="//placehold.it/600x600.png?text=SPONSOR+LOGO" alt="スポンサー"></a></li>
			<li><a href=""><img src="//placehold.it/600x600.png?text=SPONSOR+LOGO" alt="スポンサー"></a></li>
			<li><a href=""><img src="//placehold.it/600x600.png?text=SPONSOR+LOGO" alt="スポンサー"></a></li>
			<li><a href=""><img src="//placehold.it/600x600.png?text=SPONSOR+LOGO" alt="スポンサー"></a></li>
			<li><a href=""><img src="//placehold.it/600x600.png?text=SPONSOR+LOGO" alt="スポンサー"></a></li>
			<li><a href=""><img src="//placehold.it/600x600.png?text=SPONSOR+LOGO" alt="スポンサー"></a></li>
			<li><a href=""><img src="//placehold.it/600x600.png?text=SPONSOR+LOGO" alt="スポンサー"></a></li>
			<li><a href=""><img src="//placehold.it/600x600.png?text=SPONSOR+LOGO" alt="スポンサー"></a></li>
			<li><a href=""><img src="//placehold.it/600x600.png?text=SPONSOR+LOGO" alt="スポンサー"></a></li>
			<li><a href=""><img src="//placehold.it/600x600.png?text=SPONSOR+LOGO" alt="スポンサー"></a></li>
			<li><a href=""><img src="//placehold.it/600x600.png?text=SPONSOR+LOGO" alt="スポンサー"></a></li>
			<li><a href=""><img src="//placehold.it/600x600.png?text=SPONSOR+LOGO" alt="スポンサー"></a></li>
		</ul>
	</div>
	<a href="{{ site.sponsorurl }}" class="button button-large button-block become-a-sponsor">スポンサー申し込み</a>
</div>

<div class="timetable-section">
	<h1 class="section-title">
		<span class="en">Time Table</span>
		<span class="ja">タイムテーブル</span>
	</h1>
	<div class="timetable">
		<div class="session-block">
			<ol class="clock">
				<li class="icon-10-o-clock">10:00</li>
				<li class="icon-11-o-clock">11:00</li>
				<li class="icon-12-o-clock">12:00</li>
				<li class="icon-1-o-clock">13:00</li>
				<li class="icon-2-o-clock">14:00</li>
				<li class="icon-3-o-clock">15:00</li>
				<li class="icon-4-o-clock">16:00</li>
			</ol>
			<div class="session-line">
				<h2>Session Line</h2>
				<ol class="sessions">
					<li class="bg-light duration-10min">
						<h3 class="session-title"><a href="">オープニングセレモニー</a></h3>
						<p class="time"><small>[10:00-10:10]</small></p>
					</li>
					<li class="bg-dark duration-40min break-5min">
						<h3 class="session-title"><a href="">基調講演<span class="speaker"> / 阿部和広</span></a></h3>
						<p class="time"><small>[10:10-10:50]</small></p>
					</li>
					<li class="bg-light duration-40min break-5min">
						<h3 class="session-title"><a href="">オープニングセレモニー</a></h3>
						<p class="time"><small>[10:55-11:35]</small></p>
					</li>
					<li class="bg-dark duration-40min">
						<h3 class="session-title"><a href="">オープニングセレモニー</a></h3>
						<p class="time"><small>[10:55-11:35]</small></p>
					</li>
					<li class="duration-40min">
						<h3 class="session-title"><a href="">お昼休憩</a></h3>
						<p class="time"><small>[12:20-13:00]</small></p>
					</li>
					<li class="bg-light duration-25min">
						<h3 class="session-title"><a href="">オープニングセレモニー</a></h3>
						<p class="time"><small>[10:00-10:10]</small></p>
					</li>
					<li class="bg-dark duration-15min">
						<h3 class="session-title"><a href="">オープニングセレモニー</a></h3>
						<p class="time"><small>[10:00-10:10]</small></p>
					</li>
					<li class="bg-light duration-15min">
						<h3 class="session-title"><a href="">オープニングセレモニー</a></h3>
						<p class="time"><small>[10:00-10:10]</small></p>
					</li>
					<li class="bg-dark duration-25min">
						<h3 class="session-title"><a href="">オープニングセレモニー</a></h3>
						<p class="time"><small>[10:00-10:10]</small></p>
					</li>
					<li class="bg-light duration-30min">
						<h3 class="session-title"><a href="">オープニングセレモニー</a></h3>
						<p class="time"><small>[10:00-10:10]</small></p>
					</li>
					<li class="bg-dark duration-15min">
						<h3 class="session-title"><a href="">スポンサー</a></h3>
						<p class="time"><small>[14:50-15:05]</small></p>
					</li>
				</ol>
			</div>
		</div>
		<div class="workshop-block">
			<ol class="clock">
				<li class="icon-10-o-clock">10:00</li>
				<li class="icon-11-o-clock">11:00</li>
				<li class="icon-12-o-clock">12:00</li>
				<li class="icon-1-o-clock">13:00</li>
				<li class="icon-2-o-clock">14:00</li>
				<li class="icon-3-o-clock">15:00</li>
				<li class="icon-4-o-clock">16:00</li>
			</ol>
			<div class="workshop-line">
				<h2>Workshop Line</h2>
				<ol class="workshops">
					<li class="bg-light duration-90min break-5min">
						<h3 class="workshop-title"><a href="">ワークショップ１</a></h3>
						<p class="time"><small>[10:00-10:10]</small></p>
						<p><a href="" class="button button-small button-blue">Entry</a></p>
					</li>
					<li class="bg-dark duration-90min break-5min">
						<h3 class="workshop-title"><a href="">ワークショップ１</a></h3>
						<p class="time"><small>[10:00-10:10]</small></p>
						<p><a href="" class="button button-small button-blue">Entry</a></p>
					</li>
					<li class="bg-light duration-90min break-5min">
						<h3 class="workshop-title"><a href="">ワークショップ１</a></h3>
						<p class="time"><small>[10:00-10:10]</small></p>
						<p><a href="" class="button button-small button-blue">Entry</a></p>
					</li>
					<li class="bg-dark duration-90min">
						<h3 class="workshop-title"><a href="">ワークショップ１</a></h3>
						<p class="time"><small>[10:00-10:10]</small></p>
						<p><a href="" class="button button-small button-blue">Entry</a></p>
					</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="exhibition-block">
		<h2>Exhibition</h2>
		<ul class="exhibitions">
			<li>
				<figure><img src="//placehold.it/600x360" alt="展示１のイメージ"></figure>
				<div class="description">
					<h3 class="exhibition-title">展示１<br>
						<small>[Area: A]</small></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tenetur repellendus, consequatur harum, delectus nulla accusamus soluta dicta molestiae officia!</p>
				</div>
			</li>
			<li>
				<figure><img src="//placehold.it/600x360" alt="展示２のイメージ"></figure>
				<div class="description">
					<h3 class="exhibition-title">展示２<br>
						<small>[Area: B]</small></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tenetur repellendus, consequatur harum, delectus nulla accusamus soluta dicta molestiae officia!</p>
				</div>
			</li>
			<li>
				<figure><img src="//placehold.it/600x360" alt="展示３のイメージ"></figure>
				<div class="description">
					<h3 class="exhibition-title">展示３<br>
						<small>[Area: C]</small></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tenetur repellendus, consequatur harum, delectus nulla accusamus soluta dicta molestiae officia!</p>
				</div>
			</li>
		</ul>
	</div>
</div>

<div class="contact-section">
	<h1 class="section-title">
		<span class="en">Contact</span>
		<span class="ja">お問い合わせ</span>
	</h1>
	<a href="" class="button button-large button-blue button-block open-form">フォームを開く</a>
</div>

<div class="staff-section">
	<h1 class="section-title">
		<span class="en">Staff</span>
		<span class="ja">スタッフ</span>
	</h1>
	<ul class="members">
		<li>
			<figure class="member-avator"><img src="//placehold.it/120" alt="スタッフのプロフィール画像"></figure>
			<h2 class="member-name">staff</h2>
		</li>
		<li>
			<figure class="member-avator"><img src="//placehold.it/120" alt="スタッフのプロフィール画像"></figure>
			<h2 class="member-name">staff</h2>
		</li>
		<li>
			<figure class="member-avator"><img src="//placehold.it/120" alt="スタッフのプロフィール画像"></figure>
			<h2 class="member-name">staff</h2>
		</li>
		<li>
			<figure class="member-avator"><img src="//placehold.it/120" alt="スタッフのプロフィール画像"></figure>
			<h2 class="member-name">staff</h2>
		</li>
		<li>
			<figure class="member-avator"><img src="//placehold.it/120" alt="スタッフのプロフィール画像"></figure>
			<h2 class="member-name">staff</h2>
		</li>
		<li>
			<figure class="member-avator"><img src="//placehold.it/120" alt="スタッフのプロフィール画像"></figure>
			<h2 class="member-name">staff</h2>
		</li>
		<li>
			<figure class="member-avator"><img src="//placehold.it/120" alt="スタッフのプロフィール画像"></figure>
			<h2 class="member-name">staff</h2>
		</li>
		<li>
			<figure class="member-avator"><img src="//placehold.it/120" alt="スタッフのプロフィール画像"></figure>
			<h2 class="member-name">staff</h2>
		</li>
		<li>
			<figure class="member-avator"><img src="//placehold.it/120" alt="スタッフのプロフィール画像"></figure>
			<h2 class="member-name">staff</h2>
		</li>
		<li>
			<figure class="member-avator"><img src="//placehold.it/120" alt="スタッフのプロフィール画像"></figure>
			<h2 class="member-name">staff</h2>
		</li>
		<li>
			<figure class="member-avator"><img src="//placehold.it/120" alt="スタッフのプロフィール画像"></figure>
			<h2 class="member-name">staff</h2>
		</li>
		<li>
			<figure class="member-avator"><img src="//placehold.it/120" alt="スタッフのプロフィール画像"></figure>
			<h2 class="member-name">staff</h2>
		</li>
		<li>
			<figure class="member-avator"><img src="//placehold.it/120" alt="スタッフのプロフィール画像"></figure>
			<h2 class="member-name">staff</h2>
		</li>
		<li>
			<figure class="member-avator"><img src="//placehold.it/120" alt="スタッフのプロフィール画像"></figure>
			<h2 class="member-name">staff</h2>
		</li>
		<li>
			<figure class="member-avator"><img src="//placehold.it/120" alt="スタッフのプロフィール画像"></figure>
			<h2 class="member-name">staff</h2>
		</li>
		<li>
			<figure class="member-avator"><img src="//placehold.it/120" alt="スタッフのプロフィール画像"></figure>
			<h2 class="member-name">staff</h2>
		</li>
		<li>
			<figure class="member-avator"><img src="//placehold.it/120" alt="スタッフのプロフィール画像"></figure>
			<h2 class="member-name">staff</h2>
		</li>
		<li>
			<figure class="member-avator"><img src="//placehold.it/120" alt="スタッフのプロフィール画像"></figure>
			<h2 class="member-name">staff</h2>
		</li>
		<li>
			<figure class="member-avator"><img src="//placehold.it/120" alt="スタッフのプロフィール画像"></figure>
			<h2 class="member-name">staff</h2>
		</li>
		<li>
			<figure class="member-avator"><img src="//placehold.it/120" alt="スタッフのプロフィール画像"></figure>
			<h2 class="member-name">staff</h2>
		</li>
	</ul>
</div>

<div class="sns-section">
	<h1 class="section-title">
		<span class="en">SNS</span>
		<span class="copy">Check it out!</span>
	</h1>
	<ul class="fb-tw-widgets">
		<li class="fb-page-plugin">
			<div class="fb-page" data-href="https://www.facebook.com/DojoConJapan" data-tabs="timeline" data-width="640" data-height="320" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
				<div class="fb-xfbml-parse-ignore">
					<blockquote cite="https://www.facebook.com/DojoConJapan">
						<a href="https://www.facebook.com/DojoConJapan">DojoCon Japan</a>
					</blockquote>
				</div>
			</div>
		</li>
		<li class="tw-widget">
			<a class="twitter-timeline" href="https://twitter.com/DojoConJapan" data-widget-id="701331817903722496">Tweets by @DojoConJapan</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</li>
	</ul>

	<div class="instagram-widget">
	</div>

	<p class="sns-id">@DojoConJapan</p>

	<ul class="sns-links icon-share">
		<li><a href="" class="icon-facebook-circle"></a></li>
		<li><a href="" class="icon-twitter-circle"></a></li>
	</ul>
</div>
