<ul class="action">
	<li class="share"><a href="https://www.facebook.com/sharer.php?u={{ '/' | prepend: site.url }}" class="icon-facebook-circle" target="_blank"></a></li>
	<li class="share"><a href="https://twitter.com/share?
		url={{ '/' | prepend: site.url }}&
		text={{ site.title }}&
		hashtags={{ site.twitter.hashtag }}&
		via={{ site.twitter.id }}" class="icon-twitter-circle" target="_blank"></a></li>
	<li class="entry"><a href="{{ site.entryurl }}" class="button button-yellow icon-flag" target="_blank">Entry</a></li>
</ul>
