<footer class="footer">
	{% if page.layout == 'post' %}
		<div class="page-share">
			<ul class="share-links">
				<li class="facebook"><a href="https://www.facebook.com/sharer.php?u={{ page.url | prepend: site.url }}" target="_blank">Facebook</a></li>
				<li class="twitter"><a href="https://twitter.com/share?text={{ page.title }}&hashtags={{ site.twitter.hashtag }}&via={{ site.twitter.id }}" target="_blank">Twitter</a></li>
				<li class="line"><a href="http://line.me/R/msg/text/?{{ page.title }} {{ page.url | prepend: site.url }}" target="_blank">LINE</a></li>
			</ul>
		</div>
	{% endif %}
	<div class="site-share">
		<ul class="share-links icon-share">
			<li><a href="https://www.facebook.com/sharer.php?u={{ '/' | prepend: site.url }}" class="icon-facebook-circle" target="_blank"></a></li>
			<li><a href="https://twitter.com/share?url={{ '/' | prepend: site.url }}&text={{ site.title }}&hashtags={{ site.twitter.hashtag }}&
				via={{ site.twitter.id }}" class="icon-twitter-circle" target="_blank"></a></li>
		</ul>
	</div>
	<a href="#pagetop" class="goto-pagetop icon-angle-up">Page Top</a>
	<p class="copyright">© DojoCon Japan 2016 / [利用しているScratchのブロック画像] CC BY-SA 2.0 / Scratch is developed by the Lifelong Kindergarten Group at the MIT Media Lab. See <a href="http://scratch.mit.edu" target="_blank">http://scratch.mit.edu</a>. / <a href="{{ '/code-of-conduct/' | prepend: site.baseurl }}">行動規範</a></p>
</footer>

<script src="https://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}" type="text/javascript"></script>
</body>
</html>