<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
<body>

<div class="container">

<header class="header">
	<nav class="header-nav">
		<ul>
			<li><a href="">Home</a></li>
			<li><a href="">About</a>
				<ul>
					<li><a href="">About</a></li>
					<li><a href="">News</a></li>
					<li><a href="">Contact</a></li>
					<li><a href="">Staff</a></li>
				</ul>
			</li>
			<li><a href="">Access</a></li>
			<li><a href="">Speakers</a></li>
			<li><a href="">Sponsers</a></li>
			<li><a href="">Time Table</a></li>
		</ul>
	</nav>
	<ul class="action">
		<li><a href="">f</a></li>
		<li><a href="">t</a></li>
		<li class="entry"><a href="">Entry</a></li>
	</ul>
</header>
