<!-- <div id="about-coder-dojo" class="session-detail-box js-session-detail-box">
	<h3 class="session-title">CoderDojoとは</h3>
	<p class="session-time">10:30-10:40</p>
	<p><span class="session-detail-box-label">Speaker</span>　<span class="speaker-name">細谷 崇</span></p>
	<div class="session-detail">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, dignissimos, aliquam? Laborum, sequi rerum ipsa omnis non deleniti nobis nulla assumenda, reprehenderit voluptas quo eveniet culpa hic, tempora, modi aliquam nam molestiae! Sed, voluptate eos iure consectetur dolor, doloribus, pariatur distinctio blanditiis praesentium ea repudiandae tempore aliquid dolorem minima iusto!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis voluptatem temporibus sint velit enim tenetur! Quisquam eum facere sunt ipsam.</p>
	</div>
	<figure class="speaker-avator">
		<img src="//placehold.it/400" alt="細谷崇のプロフィール画像">
	</figure>
</div> -->

<div id="keynote" class="session-detail-box js-session-detail-box">
	<h3 class="session-title">基調講演</h3>
	<p class="session-time">10:40-11:20</p>
	<p><span class="session-detail-box-label">Speaker</span>　<span class="speaker-name">阿部 和広</span></p>
	<div class="session-detail">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, dignissimos, aliquam? Laborum, sequi rerum ipsa omnis non deleniti nobis nulla assumenda, reprehenderit voluptas quo eveniet culpa hic, tempora, modi aliquam nam molestiae! Sed, voluptate eos iure consectetur dolor, doloribus, pariatur distinctio blanditiis praesentium ea repudiandae tempore aliquid dolorem minima iusto!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis voluptatem temporibus sint velit enim tenetur! Quisquam eum facere sunt ipsam.</p>
	</div>
	<figure class="speaker-avator">
		<img src="//placehold.it/400" alt="阿部和広のプロフィール画像">
	</figure>
</div>

<!-- <div id="student-champions" class="session-detail-box js-session-detail-box">
	<h3 class="session-title">学生の道場運営者に聞く！</h3>
	<p class="session-time">11:25-11:45</p>
	<p><span class="session-detail-box-label">Speaker</span>　<span class="speaker-name">宮島 衣瑛, 東 和樹</span></p>
	<div class="session-detail">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, dignissimos, aliquam? Laborum, sequi rerum ipsa omnis non deleniti nobis nulla assumenda, reprehenderit voluptas quo eveniet culpa hic, tempora, modi aliquam nam molestiae! Sed, voluptate eos iure consectetur dolor, doloribus, pariatur distinctio blanditiis praesentium ea repudiandae tempore aliquid dolorem minima iusto!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis voluptatem temporibus sint velit enim tenetur! Quisquam eum facere sunt ipsam.</p>
	</div>
	<figure class="speaker-avator">
		<img src="//placehold.it/400" alt="宮島衣瑛のプロフィール画像">
	</figure>
	<figure class="speaker-avator">
		<img src="//placehold.it/400" alt="東和樹のプロフィール画像">
	</figure>
</div> -->

<!-- <div id="blocklyduino" class="session-detail-box js-session-detail-box">
	<h3 class="session-title">子供でもArduinoを操作できるBlocklyDuinoの紹介</h3>
	<p class="session-time">11:45-12:05</p>
	<p><span class="session-detail-box-label">Speaker</span>　<span class="speaker-name">岡田 裕行</span></p>
	<div class="session-detail">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, dignissimos, aliquam? Laborum, sequi rerum ipsa omnis non deleniti nobis nulla assumenda, reprehenderit voluptas quo eveniet culpa hic, tempora, modi aliquam nam molestiae! Sed, voluptate eos iure consectetur dolor, doloribus, pariatur distinctio blanditiis praesentium ea repudiandae tempore aliquid dolorem minima iusto!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis voluptatem temporibus sint velit enim tenetur! Quisquam eum facere sunt ipsam.</p>
	</div>
	<figure class="speaker-avator">
		<img src="//placehold.it/400" alt="岡田裕行のプロフィール画像">
	</figure>
</div> -->

<!-- <div id="coderdojo-minecraft" class="session-detail-box js-session-detail-box">
	<h3 class="session-title">CoderDojoでMinecraftに触れる理由</h3>
	<p class="session-time">13:05-13:25</p>
	<p><span class="session-detail-box-label">Speaker</span>　<span class="speaker-name">寺園 聖文</span></p>
	<div class="session-detail">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, dignissimos, aliquam? Laborum, sequi rerum ipsa omnis non deleniti nobis nulla assumenda, reprehenderit voluptas quo eveniet culpa hic, tempora, modi aliquam nam molestiae! Sed, voluptate eos iure consectetur dolor, doloribus, pariatur distinctio blanditiis praesentium ea repudiandae tempore aliquid dolorem minima iusto!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis voluptatem temporibus sint velit enim tenetur! Quisquam eum facere sunt ipsam.</p>
	</div>
	<figure class="speaker-avator">
		<img src="//placehold.it/400" alt="寺園聖文のプロフィール画像">
	</figure>
</div> -->

<!-- <div id="coderdojo-kodaira" class="session-detail-box js-session-detail-box">
	<h3 class="session-title">CoderDojo小平の活動内容</h3>
	<p class="session-time">13:45-14:05</p>
	<p><span class="session-detail-box-label">Speaker</span>　<span class="speaker-name">とがぞの</span></p>
	<div class="session-detail">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, dignissimos, aliquam? Laborum, sequi rerum ipsa omnis non deleniti nobis nulla assumenda, reprehenderit voluptas quo eveniet culpa hic, tempora, modi aliquam nam molestiae! Sed, voluptate eos iure consectetur dolor, doloribus, pariatur distinctio blanditiis praesentium ea repudiandae tempore aliquid dolorem minima iusto!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis voluptatem temporibus sint velit enim tenetur! Quisquam eum facere sunt ipsam.</p>
	</div>
	<figure class="speaker-avator">
		<img src="//placehold.it/400" alt="とがぞののプロフィール画像">
	</figure>
</div> -->

<!-- <div id="coderdojo-foundation" class="session-detail-box js-session-detail-box">
	<h3 class="session-title">CoderDojoムーブメントの旅 - アイルランドの1つのDojoから世界に広がる1000 Dojoへの軌跡をたどる</h3>
	<p class="session-time">15:00-15:40</p>
	<p><span class="session-detail-box-label">Speaker</span>　<span class="speaker-name">ロス・オニール</span></p>
	<div class="session-detail">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, dignissimos, aliquam? Laborum, sequi rerum ipsa omnis non deleniti nobis nulla assumenda, reprehenderit voluptas quo eveniet culpa hic, tempora, modi aliquam nam molestiae! Sed, voluptate eos iure consectetur dolor, doloribus, pariatur distinctio blanditiis praesentium ea repudiandae tempore aliquid dolorem minima iusto!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis voluptatem temporibus sint velit enim tenetur! Quisquam eum facere sunt ipsam.</p>
	</div>
	<figure class="speaker-avator">
		<img src="//placehold.it/400" alt="ロス・オニールのプロフィール画像">
	</figure>
</div> -->

<div id="champion-panel-discussion" class="session-detail-box js-session-detail-box">
	<h3 class="session-title">チャンピオンパネルディスカッション</h3>
	<p class="session-time">15:40-16:20</p>
	<p><span class="session-detail-box-label">Speaker</span>　<span class="speaker-name">細谷 崇, 宮島 衣瑛, とがぞの</span></p>
	<div class="session-detail">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, dignissimos, aliquam? Laborum, sequi rerum ipsa omnis non deleniti nobis nulla assumenda, reprehenderit voluptas quo eveniet culpa hic, tempora, modi aliquam nam molestiae! Sed, voluptate eos iure consectetur dolor, doloribus, pariatur distinctio blanditiis praesentium ea repudiandae tempore aliquid dolorem minima iusto!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis voluptatem temporibus sint velit enim tenetur! Quisquam eum facere sunt ipsam.</p>
	</div>
	<figure class="speaker-avator">
		<img src="//placehold.it/400" alt="細谷崇のプロフィール画像">
	</figure>
	<figure class="speaker-avator">
		<img src="//placehold.it/400" alt="宮島衣瑛のプロフィール画像">
	</figure>
	<figure class="speaker-avator">
		<img src="//placehold.it/400" alt="とがぞののプロフィール画像">
	</figure>
</div>

<div id="workshop-coderdojo" class="session-detail-box js-session-detail-box">
	<h3 class="session-title">CoderDojo体験</h3>
	<p class="session-time">11:00-11:50, 12:00-12:50, 13:00-13:50, 14:00-14:50, 15:00-15:50</p>
	<!-- <p><span class="session-detail-box-label">Speaker</span>　<span class="speaker-name">岡田 裕行</span></p> -->
	<div class="session-detail">
		<p>Scratchを使った子供向けプログラミングを体験してみませんか？<br>
		CoderDojoに以前から興味があった方、参加しようと思っていた方、是非この機会にご参加下さい。<br>
		親子でも参加できますよ！</p>
	</div>
	<figure class="speaker-avator">
		<img src="//placehold.it/400" alt="CoderDojo体験のイメージ">
	</figure>
</div>

<div id="workshop-scratch" class="session-detail-box js-session-detail-box">
	<h3 class="session-title">大人のScratch教室</h3>
	<p class="session-time">11:00-11:50, 12:00-12:50, 13:00-13:50, 14:00-14:50, 15:00-15:50</p>
	<!-- <p><span class="session-detail-box-label">Speaker</span>　<span class="speaker-name">岡田 裕行</span></p> -->
	<div class="session-detail">
		<p>大人向けのScratch教室を開催します。CoderDojoは7歳〜17歳を対象としたプログラミング道場ですが、本ワークショップではその楽しさを大人の皆さんにも体験頂きたいと思います。Scratch未経験の方も歓迎です！</p>
	</div>
	<figure class="speaker-avator">
		<img src="//placehold.it/400" alt="大人のScratch教室のイメージ">
	</figure>
</div>

