<div id="opening-ceremony" class="session-detail-box js-session-detail-box">
	<h3 class="session-title">オープニングセレモニー</h3>
	<p class="session-time">10:00-10:10</p>
	<p><span class="session-detail-box-label">Speaker</span>　<span class="speaker-name">細谷 崇</span></p>
	<div class="session-detail">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, dignissimos, aliquam? Laborum, sequi rerum ipsa omnis non deleniti nobis nulla assumenda, reprehenderit voluptas quo eveniet culpa hic, tempora, modi aliquam nam molestiae! Sed, voluptate eos iure consectetur dolor, doloribus, pariatur distinctio blanditiis praesentium ea repudiandae tempore aliquid dolorem minima iusto!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis voluptatem temporibus sint velit enim tenetur! Quisquam eum facere sunt ipsam.</p>
	</div>
	<figure class="speaker-avator">
		<img src="//placehold.it/400" alt="岡田裕行のプロフィール画像">
	</figure>
</div>

<div id="keynote" class="session-detail-box js-session-detail-box">
	<h3 class="session-title">基調講演</h3>
	<p class="session-time">13:00-13:25</p>
	<p><span class="session-detail-box-label">Speaker</span>　<span class="speaker-name">阿部 和広</span></p>
	<div class="session-detail">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, dignissimos, aliquam? Laborum, sequi rerum ipsa omnis non deleniti nobis nulla assumenda, reprehenderit voluptas quo eveniet culpa hic, tempora, modi aliquam nam molestiae! Sed, voluptate eos iure consectetur dolor, doloribus, pariatur distinctio blanditiis praesentium ea repudiandae tempore aliquid dolorem minima iusto!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis voluptatem temporibus sint velit enim tenetur! Quisquam eum facere sunt ipsam.</p>
	</div>
	<figure class="speaker-avator">
		<img src="//placehold.it/400" alt="岡田裕行のプロフィール画像">
	</figure>
</div>

<div id="blocklyduino" class="session-detail-box js-session-detail-box">
	<h3 class="session-title">子供でもArduinoを操作できるBlocklyDuinoの紹介</h3>
	<p class="session-time">13:00-13:25</p>
	<p><span class="session-detail-box-label">Speaker</span>　<span class="speaker-name">岡田 裕行</span></p>
	<div class="session-detail">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, dignissimos, aliquam? Laborum, sequi rerum ipsa omnis non deleniti nobis nulla assumenda, reprehenderit voluptas quo eveniet culpa hic, tempora, modi aliquam nam molestiae! Sed, voluptate eos iure consectetur dolor, doloribus, pariatur distinctio blanditiis praesentium ea repudiandae tempore aliquid dolorem minima iusto!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis voluptatem temporibus sint velit enim tenetur! Quisquam eum facere sunt ipsam.</p>
	</div>
	<figure class="speaker-avator">
		<img src="//placehold.it/400" alt="岡田裕行のプロフィール画像">
	</figure>
</div>
