<!-- 基本的には `ul.speakers` 内では `.js-speaker-profile-trigger`、 `ol.sessions` 内では `.js-session-detail-trigger`、 `ol.workshops` 内では最初の2つのみ `.js-session-detail-trigger`、それ以外は `.js-fancybox-trigger` でお願いします。 -->
<ul class="speakers">
	<li>
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-abe.jpg' | prepend: site.baseurl }}" alt="阿部和広のプロフィール画像">
		</figure>
		<h2 class="speaker-name">阿部 和広</h2>
		<p class="speaker-description">Kazuhiro Abe</p>
		<p><a href="#kazuhiro-abe" class="button button-small button-black js-speaker-profile-trigger">More</a></p>
	</li>
	<li>
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-rossoneill.jpg' | prepend: site.baseurl }}" alt="ロス・オニールのプロフィール画像">
		</figure>
		<h2 class="speaker-name">ロス・オニール</h2>
		<p class="speaker-description">Ross O’Neill</p>
		<p><a href="#ross-o-neill" class="button button-small button-black js-speaker-profile-trigger">More</a></p>
	</li>
	<li>
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-ishihara.jpg' | prepend: site.baseurl }}" alt="石原淳也のプロフィール画像">
		</figure>
		<h2 class="speaker-name">石原 淳也</h2>
		<p class="speaker-description">Junya Ishihara</p>
		<p><a href="#junya-ishihara" class="button button-small button-black js-speaker-profile-trigger">More</a></p>
	</li>
	<li>
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-hashizume.jpg' | prepend: site.baseurl }}" alt="橋爪香織のプロフィール画像">
		</figure>
		<h2 class="speaker-name">橋爪 香織</h2>
		<p class="speaker-description">Kaori Hashizume</p>
		<p><a href="#kaori-hashizume" class="button button-small button-black js-speaker-profile-trigger">More</a></p>
	</li>
	<li>
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-miyajima.jpg' | prepend: site.baseurl }}" alt="宮島衣瑛のプロフィール画像">
		</figure>
		<h2 class="speaker-name">宮島 衣瑛</h2>
		<p class="speaker-description">Kirie Miyajima</p>
		<p><a href="#kirie-miyajima" class="button button-small button-black js-speaker-profile-trigger">More</a></p>
	</li>
	<li>
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-higashi.jpg' | prepend: site.baseurl }}" alt="東和樹のプロフィール画像">
		</figure>
		<h2 class="speaker-name">東 和樹</h2>
		<p class="speaker-description">Kazuki Higashi</p>
		<p><a href="#kazuki-higashi" class="button button-small button-black js-speaker-profile-trigger">More</a></p>
	</li>
	<li>
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-kuramoto.jpg' | prepend: site.baseurl }}" alt="倉本大資のプロフィール画像">
		</figure>
		<h2 class="speaker-name">倉本 大資</h2>
		<p class="speaker-description">Daisuke Kuramoto</p>
		<p><a href="#daisuke-kuramoto" class="button button-small button-black js-speaker-profile-trigger">More</a></p>
	</li>
	<li>
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-tanioka.jpg' | prepend: site.baseurl }}" alt="谷岡広樹のプロフィール画像">
		</figure>
		<h2 class="speaker-name">谷岡 広樹</h2>
		<p class="speaker-description">Hiroki Tanioka</p>
		<p><a href="#hiroki-tanioka" class="button button-small button-black js-speaker-profile-trigger">More</a></p>
	</li>
	<li>
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-maki.jpg' | prepend: site.baseurl }}" alt="牧美帆のプロフィール画像">
		</figure>
		<h2 class="speaker-name">牧 美帆</h2>
		<p class="speaker-description">Miho Maki</p>
		<p><a href="#miho-maki" class="button button-small button-black js-speaker-profile-trigger">More</a></p>
	</li>
	<li>
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-dojocon-f.jpg' | prepend: site.baseurl }}" alt="山田早里のプロフィール画像">
		</figure>
		<h2 class="speaker-name">山田 早里</h2>
		<p class="speaker-description">Sari Yamada</p>
		<p><a href="#sari-yamada" class="button button-small button-black js-speaker-profile-trigger">More</a></p>
	</li>
	<li>
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-hosoya.jpg' | prepend: site.baseurl }}" alt="細谷崇のプロフィール画像">
		</figure>
		<h2 class="speaker-name">細谷 崇</h2>
		<p class="speaker-description">Takashi Hosoya</p>
		<p><a href="#takashi-hosoya" class="button button-small button-black js-speaker-profile-trigger">More</a></p>
	</li>
	<li>
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-sumida.jpg' | prepend: site.baseurl }}" alt="角田一平のプロフィール画像">
		</figure>
		<h2 class="speaker-name">角田 一平</h2>
		<p class="speaker-description">Ippei Sumida</p>
		<p><a href="#ippei-sumida" class="button button-small button-black js-speaker-profile-trigger">More</a></p>
	</li>
	<li>
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-terazono.jpg' | prepend: site.baseurl }}" alt="寺園聖文のプロフィール画像">
		</figure>
		<h2 class="speaker-name">寺園 聖文</h2>
		<p class="speaker-description">Masafumi Terazono</p>
		<p><a href="#masafumi-terazono" class="button button-small button-black js-speaker-profile-trigger">More</a></p>
	</li>
	<li>
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-okada.jpg' | prepend: site.baseurl }}" alt="岡田裕行のプロフィール画像">
		</figure>
		<h2 class="speaker-name">岡田 裕行</h2>
		<p class="speaker-description">Hiroyuki Okada</p>
		<p><a href="#hiroyuki-okada" class="button button-small button-black js-speaker-profile-trigger">More</a></p>
	</li>
	<li>
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-tajuta.jpg' | prepend: site.baseurl }}" alt="田重田勝一郎のプロフィール画像">
		</figure>
		<h2 class="speaker-name">田重田　勝一郎</h2>
		<p class="speaker-description">Shoichiro Tajuta</p>
		<p><a href="#shoichiro-tajuta" class="button button-small button-black js-speaker-profile-trigger">More</a></p>
	</li>
	<li>
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-togazono.jpg' | prepend: site.baseurl }}" alt="とがぞののプロフィール画像">
		</figure>
		<h2 class="speaker-name">とがぞの</h2>
		<p class="speaker-description">Togazono</p>
		<p><a href="#togazono" class="button button-small button-black js-speaker-profile-trigger">More</a></p>
	</li>
</ul>

<!-- Speaker Profiles -->

<div id="kazuhiro-abe" class="speaker-profile-box js-speaker-profile-box">
	<div class="speaker-profile-box-left">
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-abe.jpg' | prepend: site.baseurl }}" alt="阿部和広のプロフィール画像">
		</figure>
		<p class="speaker-profile-box-label">Session</p>
		<h3 class="session-title"><a href="#keynote" class="js-fancybox-trigger">基調講演：「子供達にプログラミングをサポートする上で大事なポイント」</a></h3>
		<p class="session-time">10:40-11:20</p>
	</div>
	<div class="speaker-profile-box-right">
		<h2 class="speaker-name">阿部 和広</h2>
		<p class="speaker-description">Kazuhiro Abe</p>
		<div class="speaker-profile">
			<p>1987年より一貫してオブジェクト指向言語Smalltalkの研究開発に従事。パソコンの父として知られSmalltalkの開発者であるアラン・ケイ博士の指導を2001年から受ける。Squeak EtoysとScratchの日本語版を担当。近年は子供向け講習会を多数開催。OLPC($100 laptop)計画にも参加。</p>
			<p>著書に「小学生からはじめるわくわくプログラミング」(日経BP社)、共著に「ネットを支えるオープンソースソフトウェアの進化」(角川学芸出版)、監修に「作ることで学ぶ」(オライリー・ジャパン）など。
			<p>多摩美術大学研究員、東京学芸大学・武蔵大学非常勤講師、サイバー大学客員教授を経て、現在、青山学院大学客員教授。 <br>
			2003年度IPA認定スーパークリエータ。文部科学省プログラミング学習に関する調査研究委員。<br>
			プログラミング監修 Why!?プログラミング（NHK Eテレ）</p>
		</div>
	</div>
</div>

<div id="ross-o-neill" class="speaker-profile-box js-speaker-profile-box">
	<div class="speaker-profile-box-left">
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-rossoneill.jpg' | prepend: site.baseurl }}" alt="ロス・オニールのプロフィール画像">
		</figure>
		<p class="speaker-profile-box-label">Session</p>
		<h3 class="session-title"><!-- <a href="#coderdojo-foundation" class="js-fancybox-trigger"> -->CoderDojoムーブメントの旅 - アイルランドの1つのDojoから世界に広がる1000 Dojoへの軌跡をたどる（仮）<!-- </a> --></h3>
		<p class="session-time">15:00-15:40</p>
	</div>
	<div class="speaker-profile-box-right">
		<h2 class="speaker-name">ロス・オニール</h2>
		<ul class="speaker-sns">
			<li><a href="https://coderdojo.com/about/coderdojo-foundation/" class="icon-desktop-circle" target="_blank"></a></li>
		</ul>
		<p class="speaker-description">Ross O’Neill</p>
		<div class="speaker-profile">
			<p>アイルランドのCoderDojo財団のコミュニケーション・コミュニティリードとして世界中に広がるCoderDojo活動を支える役割を担う。ダブリン工科大学で電子計算学を専攻し卒業。フリーランスのフィンテック（金融テクノロジー）＆データジャーナリストとしてアイルランドのサンデイ・ビジネス・ポスト(Sunday Business Post)誌に記事を頻繁に掲載し、アイルランドのテクノロジー・ジャーナリスト協会のメンバーでもある。SWICN Intel Computer Clubhouse Dojoのメンターとしてのボランティア活動でも活躍。このアイルランドのDojoは小規模でスタートして以来発展し続けている。子供にコーディングを教えること以外に楽しんでいることは、ワインテイスティング、旅行、いろんなコンピュータゲームで宇宙を救うこと。</p>
		</div>
	</div>
</div>

<div id="junya-ishihara" class="speaker-profile-box js-speaker-profile-box">
	<div class="speaker-profile-box-left">
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-ishihara.jpg' | prepend: site.baseurl }}" alt="石原淳也のプロフィール画像">
		</figure>
		<p class="speaker-profile-box-label">Session</p>
		<h3 class="session-title"><a href="#scratch-movesomething" class="js-fancybox-trigger">Scratch とマインクラフト、ドローンやロボットをつなげよう</a></h3>
		<p class="session-time">12:25-12:45</p>
	</div>
	<div class="speaker-profile-box-right">
		<h2 class="speaker-name">石原 淳也</h2>
		<ul class="speaker-sns">
			<li><a href="https://twitter.com/jishiha" class="icon-twitter-circle" target="_blank"></a></li>
			<li><a href="http://blog.champierre.com" class="icon-desktop-circle" target="_blank"></a></li>
		</ul>
		<p class="speaker-description">Junya Ishihara</p>
		<div class="speaker-profile">
			<p>WebサービスやiPhoneアプリの開発を行うかたわら、CoderDojo Japanの立ち上げに関わったり、プログラミングサークルOtOMOなどで子供たちにプログラミングを教える活動を続けている。</p>
			<p>「Raspberry Piではじめる どきどきプログラミング」共著者</p>
			<p>東京大学工学部機 械情報工学科卒。 株式会社まちクエスト代表取締役。 合同会社つくる社代表社員。</p>
		</div>
	</div>
</div>

<div id="kaori-hashizume" class="speaker-profile-box js-speaker-profile-box">
	<div class="speaker-profile-box-left">
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-hashizume.jpg' | prepend: site.baseurl }}" alt="橋爪香織のプロフィール画像">
		</figure>
		<p class="speaker-profile-box-label">Session</p>
		<h3 class="session-title"><a href="#programming-schools-discussion" class="js-fancybox-trigger">有償と無償で何が違う？<br>プログラミング教室/コミュニティー運営座談会</a></h3>
		<p class="session-time">14:10-14:35</p>
	</div>
	<div class="speaker-profile-box-right">
		<h2 class="speaker-name">橋爪 香織</h2>
		<ul class="speaker-sns">
			<li><a href="https://www.facebook.com/kaori.hashizume" class="icon-facebook-circle" target="_blank"></a></li>
			<li><a href="https://twitter.com/cat_kaotaro" class="icon-twitter-circle" target="_blank"></a></li>
		</ul>
		<p class="speaker-description">Kaori Hashizume</p>
		<div class="speaker-profile">
			<p>某メーカーでハードウェア開発、およびソフトウェア開発を１０数年行っていました。現在はAndroidアプリ開発・コンサルティング、プログラミング技術研修・子供向けワークショップ講師、教材開発、アドバイザリー、執筆を行いながら、CoderDojoさいたまの運営をしています。</p>
			<p>共著、著書として、「図解 Androidプラットフォーム開発入門」(技術評論社)、「Androidアプリ開発入門者のための教本」(カットシステム)、「5才からはじめる すくすくプログラミング」(日経BP)など。</p>
			<p>株式会社チェリービット代表取締役、日本電子専門学校非常勤講師</p>
		</div>
	</div>
</div>

<div id="kirie-miyajima" class="speaker-profile-box js-speaker-profile-box">
	<div class="speaker-profile-box-left">
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-miyajima.jpg' | prepend: site.baseurl }}" alt="宮島衣瑛のプロフィール画像">
		</figure>
		<p class="speaker-profile-box-label">Session</p>
		<h3 class="session-title"><a href="#student-champions" class="js-fancybox-trigger">学生の道場運営者に聞く！</a></h3>
		<p class="session-time">11:25-11:45</p>
	</div>
	<div class="speaker-profile-box-right">
		<h2 class="speaker-name">宮島 衣瑛</h2>
		<ul class="speaker-sns">
			<li><a href="https://www.facebook.com/kirie.miyajima" class="icon-facebook-circle" target="_blank"></a></li>
			<li><a href="https://twitter.com/mjk_0513" class="icon-twitter-circle" target="_blank"></a></li>
		</ul>
		<p class="speaker-description">Kirie Miyajima</p>
		<div class="speaker-profile">
			<p>CoderDojo Kashiwa, Kashiwa-no-ha Co-Founder<br>
			1997年5月13日生まれ／学習院大学文学部教育学科</p>
			<p>高校1年生の春から地元である千葉県柏市でCoderDojo Kashiwaを主催・運営。 3年間で60回を超えるワークショップを開催しており、現在でも様々な場所で教えている。これらの経験を基にTEDxKids@Chiyoda2014に登壇し、自身の考えを発表した。2016年4月からは学習院大学文学部教育学科に進学し、より専門的に教育について学んでいる。</p>
		</div>
	</div>
</div>
<div id="kazuki-higashi" class="speaker-profile-box js-speaker-profile-box">
	<div class="speaker-profile-box-left">
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-higashi.jpg' | prepend: site.baseurl }}" alt="東和樹のプロフィール画像">
		</figure>
		<p class="speaker-profile-box-label">Session</p>
		<h3 class="session-title"><a href="#student-champions" class="js-fancybox-trigger">学生の道場運営者に聞く！</a></h3>
		<p class="session-time">11:25-11:45</p>
	</div>
	<div class="speaker-profile-box-right">
		<h2 class="speaker-name">東 和樹</h2>
		<ul class="speaker-sns">
			<li><a href="https://www.facebook.com/kazuki.higashi.71" class="icon-facebook-circle" target="_blank"></a></li>
		</ul>
		<p class="speaker-description">Kazuki Higashi</p>
		<div class="speaker-profile">
			<p>明石工業高等専門学校卒業、大阪大学在学、現在21歳。</p>
			<p>小学校・中学生時代にプログラミングに興味があったものの、独学には何度も挫折。友達に教えてもらい始めた競技プログラミングでその楽しさに気付き、同じ境遇の子供たちにプログラミングの楽しさを伝えるため、CoderDojo明石を主催する。6月12日までに7回開催。</p>
		</div>
	</div>
</div>

<div id="daisuke-kuramoto" class="speaker-profile-box js-speaker-profile-box">
	<div class="speaker-profile-box-left">
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-kuramoto.jpg' | prepend: site.baseurl }}" alt="倉本大資のプロフィール画像">
		</figure>
		<p class="speaker-profile-box-label">Session</p>
		<h3 class="session-title"><a href="#programming-schools-discussion" class="js-fancybox-trigger">有償と無償で何が違う？<br>プログラミング教室/コミュニティー運営座談会</a></h3>
		<p class="session-time">14:10-14:35</p>
	</div>
	<div class="speaker-profile-box-right">
		<h2 class="speaker-name">倉本 大資</h2>
		<ul class="speaker-sns">
			<li><a href="https://twitter.com/qramo" class="icon-twitter-circle" target="_blank"></a></li>
			<li><a href="https://www.facebook.com/daisuke.kuramoto" class="icon-facebook-circle" target="_blank"></a></li>
		</ul>
		<p class="speaker-description">Daisuke Kuramoto</p>
		<div class="speaker-profile">
			<p>1980年生まれ。2008年よりScratchを使った子ども向けプログラミングワークショップを実施。現在はOtOMOを運営し、世田谷区三軒茶屋でのワークショップをベースに活動している。「小学生からはじめるわくわくプログラミング２」の著者(日経BP社／監修・共著：阿部和広)。</p>
			<p>筑波大学芸術専門学群総合造形コース卒業。株式会社シュビキ勤務、社会人向け研修コンテンツの製作に携わる傍、OtOMOの活動、自身の創作活動などを続けている。ただいま０歳の娘を全力で子育て中。</p>
		</div>
	</div>
</div>

<div id="hiroki-tanioka" class="speaker-profile-box js-speaker-profile-box">
	<div class="speaker-profile-box-left">
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-tanioka.jpg' | prepend: site.baseurl }}" alt="谷岡広樹のプロフィール画像">
		</figure>
		<p class="speaker-profile-box-label">Session</p>
		<h3 class="session-title"><a href="#programming-schools-discussion" class="js-fancybox-trigger">有償と無償で何が違う？<br>プログラミング教室/コミュニティー運営座談会</a></h3>
		<p class="session-time">14:10-14:35</p>
	</div>
	<div class="speaker-profile-box-right">
		<h2 class="speaker-name">谷岡 広樹（TENTOフェロー）</h2>
		<ul class="speaker-sns">
			<li><a href="https://www.facebook.com/taniokah" class="icon-facebook-circle" target="_blank"></a></li>
		</ul>
		<p class="speaker-description">Hiroki Tanioka (TENTO Fellow)</p>
		<div class="speaker-profile">
			<p>TENTOフェロー、徳島大学助教、博士(工学)。プログラマーとして自然言語処理や、情報検索のシステム開発に携わってきました。TENTOの設立者である草野、竹林両氏の志に共感し、2013年3月よりTENTOをお手伝い中です。</p>
		</div>
	</div>
</div>

<div id="miho-maki" class="speaker-profile-box js-speaker-profile-box">
	<div class="speaker-profile-box-left">
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-maki.jpg' | prepend: site.baseurl }}" alt="牧美帆のプロフィール画像">
		</figure>
		<p class="speaker-profile-box-label">Session</p>
		<h3 class="session-title"><a href="#champion-panel-discussion" class="js-fancybox-trigger">チャンピオンパネルディスカッション</a></h3>
		<p class="session-time">15:40-16:20</p>
	</div>
	<div class="speaker-profile-box-right">
		<h2 class="speaker-name">牧 美帆</h2>
		<ul class="speaker-sns">
			<li><a href="https://www.facebook.com/miho.maki.10" class="icon-facebook-circle" target="_blank"></a></li>
		</ul>
		<p class="speaker-description">Miho Maki</p>
		<div class="speaker-profile">
			<p>短大卒業後、小中学校向けソフトメーカーでのインストラクターを経て、現在は企業のシステム部門に勤務しています。</p>
			<p>出産をきっかけに、わが子を含め、未来を担う子どもたちの可能性を少しでも広げるお手伝いができないかと考えるようになりました。</p>
			<p>そんなとき、細谷さんの活動をネットの記事で見かけ、これだ！　と思いました。</p>
			<p>2016年よりチャンピオンの田重田さん、野口さんとCoderDojo堺をやらせていただいています。</p>
		</div>
	</div>
</div>

<div id="sari-yamada" class="speaker-profile-box js-speaker-profile-box">
	<div class="speaker-profile-box-left">
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-dojocon-f.jpg' | prepend: site.baseurl }}" alt="山田早里のプロフィール画像">
		</figure>
		<p class="speaker-profile-box-label">Session</p>
		<h3 class="session-title"><a href="#champion-panel-discussion" class="js-fancybox-trigger">チャンピオンパネルディスカッション</a></h3>
		<p class="session-time">15:40-16:20</p>
	</div>
	<div class="speaker-profile-box-right">
		<h2 class="speaker-name">山田 早里</h2>
		<ul class="speaker-sns">
			<li><a href="https://www.facebook.com/sari.yamada.79?fref=ts" class="icon-facebook-circle" target="_blank"></a></li>
		</ul>
		<p class="speaker-description">Sari Yamada</p>
		<div class="speaker-profile">
			<p>ゲーム命で剣道っ子な小５息子と、youtubeが大好きなで破天荒な４歳の息子を持つママさんエンジニア。<br>
			子供の頃からの夢エンジニアになりたいという気持ちを捨てきれず、夫の応援もあり、奇跡的に？未経験ながらエンジニアの道へ踏み出したのが二年前。<br>
			自分の子供ともっとＩＴで遊びたい、一緒にプログラミングの勉強をしたいと思ったのがdojoの参加のきっかけ。(ただし長男は作る方にはあまり興味がないので、今後の個人的な課題)<br>
			忍者の頑張る姿と自分の子供の頃を重ねて、毎回ひそかにちょっと泣きそうになってるのが悩み。</p>
		</div>
	</div>
</div>

<div id="takashi-hosoya" class="speaker-profile-box js-speaker-profile-box">
	<div class="speaker-profile-box-left">
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-hosoya.jpg' | prepend: site.baseurl }}" alt="細谷崇のプロフィール画像">
		</figure>
		<p class="speaker-profile-box-label">Session</p>
		<h3 class="session-title"><!-- <a href="#opening-ceremony" class="js-fancybox-trigger"> -->オープニングセレモニー<!-- </a> --></h3>
		<p class="session-time">10:30-10:40</p>
		<h3 class="session-title"><a href="#champion-panel-discussion" class="js-fancybox-trigger">チャンピオンパネルディスカッション</a></h3>
		<p class="session-time">15:40-16:20</p>
	</div>
	<div class="speaker-profile-box-right">
		<h2 class="speaker-name">細谷 崇</h2>
		<ul class="speaker-sns">
			<li><a href="https://www.facebook.com/takashi.hosoya" class="icon-facebook-circle" target="_blank"></a></li>
			<li><a href="https://twitter.com/tkc49" class="icon-twitter-circle" target="_blank"></a></li>
		</ul>
		<p class="speaker-description">Takashi Hosoya</p>
		<div class="speaker-profile">
			<p>2015年3月にNPO法人の役員を退任し、現在はフリーランスとしてWordPressを使ったWEBシステムの構築、kintoneを使った業務システムの構築をしています。</p>
			<p>CoderDojoは2012年12月西宮、2014年1月に梅田を開始し、約3年半CoderDojoの運営をしています。<br>
			CoderDojoの無料で子供達が参加できることや、エンジニアがボランティアで関われる仕組みにとても共感し、日本にたくさんのCoderDojoができたらいいなと思い、本イベントのDojoCon Japanの実行委員長をしています。</p>
		</div>
	</div>
</div>
<div id="ippei-sumida" class="speaker-profile-box js-speaker-profile-box">
	<div class="speaker-profile-box-left">
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-sumida.jpg' | prepend: site.baseurl }}" alt="角田一平のプロフィール画像">
		</figure>
		<p class="speaker-profile-box-label">Session</p>
		<h3 class="session-title"><a href="#champion-panel-discussion" class="js-fancybox-trigger">チャンピオンパネルディスカッション</a></h3>
		<p class="session-time">15:40-16:20</p>
	</div>
	<div class="speaker-profile-box-right">
		<h2 class="speaker-name">角田 一平</h2>
		<ul class="speaker-sns">
			<li><a href="https://www.facebook.com/ippeisumida" class="icon-facebook-circle" target="_blank"></a></li>
			<li><a href="https://twitter.com/ippey_s" class="icon-twitter-circle" target="_blank"></a></li>
		</ul>
		<p class="speaker-description">Ippei Sumida</p>
		<div class="speaker-profile">
			<p>CoderDojo西宮・梅田メンター、CoderDojo枚方チャンピオン<br>
			DojoCon Japan 2016の副実行委員長</p>
			<p>Web制作会社でのWeb開発の経験を経て、2016年7月からフリーランスとして活動を開始。PHPを利用したWebやiOS,Androidのスマートフォンのアプリの開発に携わる。<br>
			2013年3月からCoderDojo梅田でメンターとして活動し、主にScratchやJavaScript、スマートフォンアプリのサポートを月に１回ペースで行っている。2016年7月から隔月に1回ペースで大阪府・枚方市でCoderDojoをスタート。<br>
			道場の運営も行うようになった。</p>
		</div>
	</div>
</div>

<div id="masafumi-terazono" class="speaker-profile-box js-speaker-profile-box">
	<div class="speaker-profile-box-left">
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-terazono.jpg' | prepend: site.baseurl }}" alt="寺園聖文のプロフィール画像">
		</figure>
		<p class="speaker-profile-box-label">Session</p>
		<h3 class="session-title"><a href="#coderdojo-minecraft" class="js-fancybox-trigger">Minecraftによるプログラミング学習の可能性</a></h3>
		<p class="session-time">13:05-13:25</p>
	</div>
	<div class="speaker-profile-box-right">
		<h2 class="speaker-name">寺園 聖文</h2>
		<ul class="speaker-sns">
			<li><a href="https://www.facebook.com/yokmama" class="icon-facebook-circle" target="_blank"></a></li>
			<li><a href="https://twitter.com/yokmama" class="icon-twitter-circle" target="_blank"></a></li>
		</ul>
		<p class="speaker-description">Masafumi Terazono</p>
		<div class="speaker-profile">
			<p>CoderDojo　西宮・梅田にて主にJavaに関連する内容のメンターをしています。<br>
			最近ではMinecraftのModを作ってみたいという忍者にMinecraftをベースにプログラミングを教えようと試行錯誤をしています。<br>
			自身でも、プログラミングスクール８ｘ９という子ども向けのプログラミング教室をやっており、有料のプログラミングスクールと、無料のCoderDojoとの違いや、プログラミングを通して子供たちが何が学ぶことができるのか考えています。発表ではそのあたりを織り交ぜながらMinecraftによるプログラミングの可能性をお話したいと思います。</p>
		</div>
	</div>
</div>

<div id="hiroyuki-okada" class="speaker-profile-box js-speaker-profile-box">
	<div class="speaker-profile-box-left">
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-okada.jpg' | prepend: site.baseurl }}" alt="岡田裕行のプロフィール画像">
		</figure>
		<p class="speaker-profile-box-label">Session</p>
		<h3 class="session-title"><a href="#blocklyduino" class="js-fancybox-trigger">子供でもArduinoを楽しめるBlocklyDuinoの紹介</a></h3>
		<p class="session-time">11:45 - 12:05</p>
	</div>
	<div class="speaker-profile-box-right">
		<h2 class="speaker-name">岡田 裕行</h2>
		<ul class="speaker-sns">
			<li><a href="https://www.facebook.com/okhiroyuki" class="icon-facebook-circle" target="_blank"></a></li>
			<li><a href="https://twitter.com/okhiroyuki" class="icon-twitter-circle" target="_blank"></a></li>
		</ul>
		<p class="speaker-description">Hiroyuki Okada</p>
		<div class="speaker-profile">
			<p>土木計測エンジニアの経験を経て、2016年4月よりコミュニケーションロボット「Unibo」を開発するユニロボット株式会社へ転職。現在は、「Unibo」をプログラミングできるツール（SDK）の開発に従事。</p>
			<p>プライベートでは、2015年2月よりCoderDojo梅田・西宮メンターとして活動。主に、Arduinoを使った電子工作をサポート。また、Dojoの経験を生かし、子どもでもArduinoプログラミングが楽しめるビジュアルプログラミングツール「Blocklyduino Editer」を開発。「Blocklyduino Editer」は、現在Dojo以外でも活用されており、Chromeアプリの週間ユーザー数は1500を超える。</p>
		</div>
	</div>
</div>

<div id="shoichiro-tajuta" class="speaker-profile-box js-speaker-profile-box">
	<div class="speaker-profile-box-left">
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-tajuta.jpg' | prepend: site.baseurl }}" alt="田重田勝一郎のプロフィール画像">
		</figure>
		<p class="speaker-profile-box-label">Session</p>
		<h3 class="session-title"><a href="#champion-panel-discussion" class="js-fancybox-trigger">チャンピオンパネルディスカッション</a></h3>
		<p class="session-time">15:40-16:20</p>
	</div>
	<div class="speaker-profile-box-right">
		<h2 class="speaker-name">田重田 勝一郎</h2>
		<ul class="speaker-sns">
			<li><a href="https://www.facebook.com/shoichiro.tajuta" class="icon-facebook-circle" target="_blank"></a></li>
		</ul>
		<p class="speaker-description">Shoichiro Tajuta</p>
		<div class="speaker-profile">
			<p>子ども向けのプログラミング教育に興味があり活動の場所を探していたところCoderDojoに出会い、2015年10月ごろからCoderDojo梅田のメンターとして活動を開始。</p>
			<p>2016年2月にCoderDojo堺を立ち上げ、毎月1回のペースで道場を開催中です。</p>
			<p>セッションではいちメンターとして活動していたごく普通のサラリーマンエンジニアが、周りの協力を得ながらCoderDojo堺のチャンピオンになった経緯などをお話しできればと思っています。</p>
		</div>
	</div>
</div>

<div id="togazono" class="speaker-profile-box js-speaker-profile-box">
	<div class="speaker-profile-box-left">
		<figure class="speaker-avator">
			<img src="{{ '/assets/images/speaker-togazono.jpg' | prepend: site.baseurl }}" alt="とがぞののプロフィール画像">
		</figure>
		<p class="speaker-profile-box-label">Session</p>
		<h3 class="session-title"><a href="#coderdojo-kodaira" class="js-fancybox-trigger">CoderDojo Kodairaの活動について</a></h3>
		<p class="session-time">13:45-14:05</p>
	</div>
	<div class="speaker-profile-box-right">
		<h2 class="speaker-name">とがぞの</h2>
		<ul class="speaker-sns">
			<li><a href="https://twitter.com/togazo" class="icon-twitter-circle" target="_blank"></a></li>
		</ul>
		<p class="speaker-description">Togazono</p>
		<div class="speaker-profile">
			<p>CoderDojo Kodairaの代表で近隣Dojoのメンター。大学を卒業後、公共サービス系システムのエンジニアとして数年従事。幾つかの雇用形態で職を転々とした後、2年間引きこもり生活を実践。世の中にはびこる「当たり前」の真偽に興味を持ち、あれやこれやと仮説立て・実践・検証を繰り返すうちに数年経過。「武蔵野・多摩地域を時々徘徊する素浪人」なる立ち位置を確立させようと日々邁進しつつ「地域xITx教育」をキーワードにK-12教育の現場に爪足を突っ込んで現在に至る。趣味は生きること。しようもないものづくりも好き。手先と人間性が非常に不器用。好きな言葉は「試行錯誤」と「スクラップ・アンド・ビルド」。</p>
		</div>
	</div>
</div>
